.bselect {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

.bselect.open .bselect-caret {}

.bselect.disabled {  opacity: 0.65; }

.bselect-label,
.bselect-caret {
  position: relative;
  display: inline-block;
  height: 42px;
  margin: 0;
  background-color: #fff;
  border: 1px solid var(--element_border_color);
  box-shadow: var(--main_shadow);
  cursor: pointer;
  vertical-align: middle;
}

.bselect-caret { border-left: none; }

.bselect-label:hover,
.bselect-caret:hover { background: #fff; }

.bselect-label {
    padding: 8px 12px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bselect-caret {
  margin-left: -1px;
  padding: 4px 10px 4px 0px;
  border-radius: 0 4px 4px 0;
}

.bselect-caret > .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin: 8px 0 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #333333;
  content: "";
  vertical-align: top;
}

.bselect.disabled .bselect-label,
.bselect.disabled .bselect-caret {
  cursor: not-allowed;
  transition: none;
  box-shadow: none;
}

.bselect.disabled .bselect-label:hover,
.bselect.disabled .bselect-caret:hover { background-color: #f5f5f5; }

.bselect-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  display: none;
  width: 100%;
  margin: -2px 0 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid var(--element_border_color);
  border-radius: 0 0 4px 4px;
  box-shadow: var(--main_shadow_hover);
}

.bselect-search {
  margin: 0;
  vertical-align: middle;
  white-space: nowrap;
}

.bselect-search > .bselect-search-input,
.bselect-search > .bselect-search-icon {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
}

.bselect-search > .bselect-search-input {
  position: relative;
  width: 100%;
  padding: 16px 8px;
  margin: 0;
  background: #fff;
  border: none;
  border-bottom: 1px solid var(--element_border_color);
  cursor: text;
  font-size: 13px;
}

.bselect-search > .bselect-search-icon {display: none;
  width: auto;
  margin-left: -1px;
  padding: 4px 5px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
}

.bselect-message {
  display: none;
  padding: 8px 12px;
  line-height: 20px;
  cursor: default;
}

.bselect-option-list {
  line-height: 20px;
  width: 100%;
  margin: 0;
  padding: 0 0 8px;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.bselect-option-list::-webkit-scrollbar {
    width: 4px;
    height: 8px;
    background-color: #eee;
}

.bselect-option-list::-webkit-scrollbar-thumb {
    background: #c2daf8;
    border: 1px solid #fff;
}

.bselect-option > a {
  display: block;
  padding: 4px 12px;
  text-decoration: none;
  white-space: normal;
  border-bottom: 1px solid #fff;
  font-size: 14px;
  color: #383838;
}

.bselect-option.grouped { padding-left: 15px; }

.bselect-option:focus a,
.bselect-option a:focus,
.bselect-option a:hover,
.bselect-option.active > a,
.bselect-option.active > a:hover { background-color: rgba(102,163,238,.2); }

.bselect-option-group {
  padding: 5px 20px 5px 15px;
  font-weight: bold;
  cursor: default;
  white-space: normal;
}

.bselect-inaccessible {
  position: absolute !important;
  top: -9999em !important;
  left: -9999em !important;
  clip: rect(0, 0, 0, 0) !important;
  visibility: hidden !important;
}