
.datepicker-container {
  background-color: #fff;
  direction: ltr;
  font-size: 13px;
  left: 0;
  line-height: 30px;
  position: fixed;
  top: 0;
  touch-action: none;
  user-select: none;
  width: 210px;
  z-index: -1;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.datepicker-dropdown {
  border: 1px solid #dff1fa;
  box-shadow: 0 6px 16px 0 rgba(0,0,0,.15);
  border-radius: 3px;
  box-sizing: content-box;
  position: absolute;
  z-index: 1;
}

.datepicker-inline { position: static; }

.datepicker-panel > ul {
  margin: 0;
  padding: 0;
  width: 102%;
}

.datepicker-panel > ul::before,
.datepicker-panel > ul::after {
  content: " ";
  display: table;
}

.datepicker-panel > ul::after {
  clear: both;
}

.datepicker-panel > ul > li {
  background-color: #effaff;
  cursor: pointer;
  float: left;
  height: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 30px;
  border: 1px solid #fff;
  box-sizing: border-box;
  line-height: 30px;
}

.datepicker-panel > ul > li:hover {
  background-color: rgb(229, 242, 255);
}

.datepicker-panel > ul > li.muted,
.datepicker-panel > ul > li.muted:hover {
  color: #999;
}

.datepicker-panel > ul > li.highlighted {
  background-color: #dfefff;
}

.datepicker-panel > ul > li.highlighted:hover {
  background-color: rgb(204, 229, 255);
}

.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
  background: #dfefff;
  font-weight: bold;
  color: #ee1515;
  text-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.datepicker-panel > ul > li.disabled,
.datepicker-panel > ul > li.disabled:hover {
  background-color: #fff;
  color: #ccc;
  cursor: default;
}

.datepicker-panel > ul > li.disabled.highlighted,
.datepicker-panel > ul > li.disabled:hover.highlighted {  background-color: #eee; }

.datepicker-panel > ul > li[data-view="years prev"],
.datepicker-panel > ul > li[data-view="year prev"],
.datepicker-panel > ul > li[data-view="month prev"],
.datepicker-panel > ul > li[data-view="years next"],
.datepicker-panel > ul > li[data-view="year next"],
.datepicker-panel > ul > li[data-view="month next"],
.datepicker-panel > ul > li[data-view="next"] {
  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
}

.datepicker-panel > ul > li[data-view="years current"],
.datepicker-panel > ul > li[data-view="year current"],
.datepicker-panel > ul > li[data-view="month current"] {
  width: 150px;
  font-weight: bold;
}

.datepicker-panel > ul[data-view="years"] > li,
.datepicker-panel > ul[data-view="months"] > li {
  height: 52.5px;
  line-height: 52.5px;
  width: 52.5px;
}

.datepicker-panel > ul[data-view="week"] > li,
.datepicker-panel > ul[data-view="week"] > li:hover {
  background-color: #fff;
  cursor: default;
  font-weight: bold;
  color: #677780;
}

.datepicker-panel > ul > li.muted[data-view="day prev"],
.datepicker-panel > ul > li.muted[data-view="day next"] {
  height: 0;
  visibility: hidden;
  opacity: 0;
  border-bottom: 0;
}

.datepicker-hide { display: none; }
