
/* — Окружение — */

body {
	position: relative;
	margin: 0;
	padding: 0;
	font: normal 14px/1.5 PT Sans, Helvetica, Arial;
	background: #f5f1ec;
	-webkit-font-smoothing: antialiased;
}


/* — Необходимые стили — */


.rest_booking {
	position: absolute;
	top: 50px;
	left: calc(50% - 220px);
    width: 440px;
    padding: 18px 25px 25px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 10px 80px 0 rgba(0,0,0,.1);
    transform: scale(0) translateY(100%);
    opacity: 0;
    visibility: hidden;
    font-size: 15px;
    line-height: 1.4;
    transition: transform .25s, opacity .15s;
    box-sizing: border-box;
    z-index: -10;
}

.rest_booking * { box-sizing: border-box; }

.rest_booking.active {
	transform: scale(1) translateY(0);
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.rest_booking .title {
	display: block;
	margin: 0 40px 0 0;
	font-size: 24px;
	line-height: 1.45;
}

.rest_booking .descriptor {	margin-top: 5px; }

.rest_booking .s_line {
	display: block;
	margin: 15px 0 18px 0;
	padding: 0;
	width: 100%;
	height: 2px;
	border: 0;
	background: #dff1fa;
	border-radius: 1px;
}

.rest_booking span.close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 28px;
	height: 28px;
	opacity: .75;
	cursor: pointer;
	transition: all .25s;
	z-index: 1000;
}

.rest_booking span.close:before, .rest_booking span.close:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 12px;
	width: 4px;
	height: 20px;
	background: #252525;
	border-radius: 2px;
	transform: rotate(45deg);
	transition: all .25s;
}

.rest_booking span.close:after {
	background: #ee1515;
	transform: rotate(-45deg);
}

.rest_booking span.close:hover { opacity: 1; }
.rest_booking span.close:hover:before {	background: #ee1515; }
.rest_booking span.close:hover:after { background: #252525; }

::-webkit-input-placeholder { color: #555; }
::-moz-placeholder { color: #555; }
:-ms-input-placeholder { color: #555; }

.rest_booking input {
	position: relative;
	height: 40px;
	width: 100%; 
	margin: 4px 0;
	outline-style: none;
    border-radius: 3px;
    padding: 0 12px;
    background: #f5fcff;
    border: 2px solid #dff1fa;
    box-shadow: none;
    font-size: 15px;
    transition: all .25s;
}

.rest_booking input.error {
	background: #fff0f0;	
	border-color: #ffdbdb; 
}

.rest_booking input:focus {	
	background: #fff;
	border-color: #50aafe;
	outline: none;
}

/*
Стилизация радио-кнопок
*/

.rest_booking [type="radio"]:checked,
.rest_booking [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.rest_booking [type="radio"]:checked + label,
.rest_booking [type="radio"]:not(:checked) + label {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    padding: 5px 0 5px 12px;
    background: #f5fcff;
    border: 2px solid #dff1fa;
    border-radius: 3px;
    line-height: 1.25;
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.rest_booking [type="radio"]:checked + label {
	border-color: #50aafe;
	background: #fff;
}

.rest_booking .rb_residence label > small { 
	display: block;
	font-size: 14px;
}

.rest_booking h3 {
	margin: 20px 0 5px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #57666d;
}

.rest_booking .rb_food h3 { margin-bottom: 0; }

.rest_booking .inline {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	margin: 0 0 10px; 
} 

.rest_booking .input,
.rest_booking .combined { 
	position: relative;
	width: 100%;
	max-width: 182px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.rest_booking .inline.calendar input { 
	margin: 0;
	padding-right: 40px;
}

.rest_booking .show_calendar {
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	background: url('calendar.svg') 50% 50% no-repeat;
    cursor: pointer;
}

.rest_booking .show_calendar:hover { filter: hue-rotate(-220deg); }

.rest_booking .inline .combined input {
	text-align: center;
	padding: 0 40px;
}

.rest_booking .combined > span {
	position: absolute;
	top: 4px;
	left: 0;
	display: flex;
	justify-content: center;
    align-items: center;
	width: 40px;
	height: 40px;
	background: #dff1fa;
	border-radius: 3px 0 0 3px;
	cursor: pointer;
	z-index: 999;
	transition: all .2s;
}

.rest_booking .combined > span.plus {
	left: auto;
	right: 0;
	border-radius: 0 3px 3px 0;
}

.rest_booking .combined > span:after {
	content: '−';
	font-size: 24px;
    line-height: 0;
    font-weight: bold;
    color: #387be4;
}

.rest_booking .combined > span.plus:after { content: '+'; }
.rest_booking .combined > span:hover:after { color: #e3533c; }

.rest_booking .rb_order_form .inline > div { 
	width: 100%;
	margin-bottom: 15px; 
}

.rest_booking .rb_order_form .inline > div strong { 
	font-size: 18px;
	line-height: 1;
}

.rest_booking .rb_order_form .inline > div p {
	margin: 0;
	line-height: 1.25; 
}

.rest_booking .rb_order_form .inline .total_money {	
	margin: 0;
	color: #00a03d; 
}

.rest_booking .rb_personal input { width: 100%; }

.rest_booking .errors_msg {
	width: 100%;
	margin: 20px 0;
	padding: 6px 12px;
	background: #fff0f0;
	border-radius: 3px;
}

.rest_booking .errors_msg p {
	margin: 5px 0;
	padding: 1px 0 1px 10px;
	border-left: 2px solid #ffabab;
	font-size: 14px;
	line-height: 1.2;
	color: #922;
}

.rest_booking button {
	width: 100%;
    display: block;
    margin: 20px 0 0;
    border-radius: 3px;
    padding: 15px 0;
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: #39c343;
    text-shadow: 0 1px 2px rgba(0,0,0,.08);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,.08);
    cursor: pointer;
    transition: all .25s;
}

.rest_booking button:hover { background: #56d650; }

.rest_booking .send_order:hover { background: #56d650; }

.calc_booking {
	position: fixed;
	bottom: 0;
	right: 20px;
	width: 198px;
	height: 50px;
	padding: 8px 12px 8px 54px;
	background-color: #e3533c;
	background-image: linear-gradient(-25deg, #e3533c 0%, #ff5034 100%);
	border-radius: 3px 3px 0 0;
	box-shadow: 0 -4px 20px 0 rgba(255,0,0,.2);
	font-size: 17px;
	font-weight: bold;
	line-height: 1.1;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.1);
	cursor: pointer;
	opacity: 1;
	box-sizing: border-box;
	transition: all .3s ease-in-out;
	z-index: 1001;
}

.calc_booking i {
	display: block;
	font-size: 15px;
}

.calc_booking.active { opacity: 0; }

.calc_booking:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 44px;
	height: 100%;
	background-color: #333;
    border-radius: 3px 0 0 0;
}

.calc_booking:after {
	content: '%';
	position: absolute;
	top: 52%;
	left: 9px;
	font: bold 32px/0 'PT Sans';
	color: #fff;
	text-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.calc_booking:hover { background: #333; }
.calc_booking:hover:before { background-image: linear-gradient(-25deg, #e3533c 0%, #ff5034 100%); }


.calc_booking_helper {
    position: fixed;
    bottom: 120px;
    right: 20px;
    width: 145px;
    height: 34px;
    padding: 8px 15px;
    background: rgba(0,0,0,.8);
    border-radius: 3px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2);
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
    color: #fff;
    cursor: default;
    z-index: 999;
}

.calc_booking_helper:before {
    content: '';
    position: absolute;
    bottom: -80px;
    left: 20px;
    width: 2px;
    height: 80px;
    background: linear-gradient(rgba(0,0,0,.8) 50%, rgba(0,0,0,0) 100%);
}

.calc_booking_helper span.close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -12px;
    right: -12px;
    width: 26px;
    height: 26px;
    background: #fff;
    border: 2px solid #333;
    border-radius: 100%;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    cursor: pointer;
}

.calc_booking_helper span.close:after {
    content: '×';
    position: relative;
    font-size: 24px;
    line-height: 0;
    color: #e3533c;
}



@media screen and (min-width: 1600px) {

	.calc_booking { right: 200px; }

}




