@charset "utf-8";


/* --- Шрифты ----------------------------------------------------------------------------- */


@font-face {
	font-family: 'IBMPS';
	src: local('IBM Plex Sans Text'),
		 local('IBMPlexSans-Text'),
		 url('../fonts/IBMPS.woff2') format('woff2'),
		 url('../fonts/IBMPS.woff') format('woff'),
		 url('../fonts/IBMPS.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'IBMPS';
	src: local('IBM Plex Sans Text Italic'),
		 local('IBMPlexSans-TextItalic'),
		 url('../fonts/IBMPSI.woff2') format('woff2'),
		 url('../fonts/IBMPSI.woff') format('woff'),
		 url('../fonts/IBMPSI.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'IBMPS';
	src: local('IBM Plex Sans Bold'),
		 local('IBMPlexSans-Bold'),
		 url('../fonts/IBMPSB.woff2') format('woff2'),
		 url('../fonts/IBMPSB.woff') format('woff'),
		 url('../fonts/IBMPSB.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Gilam';
	src: local('Gilam'),
		 local('Gilam-BlackDEMO'),
		 url('../fonts/Gilam.woff2') format('woff2'),
		 url('../fonts/Gilam.woff') format('woff'),
		 url('../fonts/Gilam.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}



/* --- Основа ----------------------------------------------------------------------------- */


* {
	margin: 0;
	padding: 0;
	outline: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after { box-sizing: border-box; }

html, body { height: 100%; }

body {
	font: normal 15px/1.44 'IBMPS', 'Helvetica', 'Arial', sans-serif;
	background: #fff;
	color: #2C2230;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

header, section, menu, nav, aside, article, footer, .h1, .h2, .h3, .h4 { display: block; }

.place { 
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 40px;
}

img { 
	border: none;
	border-radius: 4px;
}

a, .link {
  text-decoration: none;
  color: #466DD8;
  cursor: pointer;
}

a:hover, .link:hover { color: #EC2222; }

a.phone_link { color: inherit; }

hr {
	position: relative;
	display: block;
	width: 100%;
	height: 1px;
	margin: 5px 0;
	background: rgba(197,93,236,.4);
	border: none;
	border-radius: 10px;
}




/* --- Текстая часть ----------------------------------------------------------------------------- */


.text_short {
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.up_text {
	text-transform: uppercase;
	letter-spacing: 2px;
}

.text_center { text-align: center; }

i, em, .italic {
	font-family: 'IBMPS';
	font-style: italic;
}

h1, h2, .h1, .h2 {	
	font-family: 'IBMPS'; 
	font-weight: 900;
	transition: all .25s;
}

h3, .h3, h4, .h4, strong, b {
	font-family: 'IBMPS';
	font-weight: 600;
}

h1, .h1 { 
	font-size: 28px;
	line-height: 1.4;
}

h2, .h2 { 
	font-size: 22px;
	line-height: 1.4;
}

h3, .h3 { font-size: 20px; }

h4, .h4 { font-size: 17px; }

p { margin: 12px 0; }

small, .small_text { font-size: 13px; }

.big_text { font-size: 140%; }

sup {
	padding-left: 3px;
	font-size: 13px;
	color: #718aaa;
	vertical-align: super;
}

.rcolor { color: #EC2222; }
.gcolor { color: #2FBF5F; }

.sec_title {
	position: relative;
	margin-bottom: 4px;
	font-family: 'Gilam';
	font-size: 52px;
	text-shadow: -2px 2px 0 rgba(47,191,95,.4), 2px 2px 0 rgba(197,93,236,.4);
}

.sec_title span { position: relative; }

.sec_title span:before,
.sec_title span:after {
	position: absolute;
	content: '';
	top: 26px;
	left: -220px;
	width: 200px;
	height: 16px;
	background: url('../img/decor.svg') no-repeat;
}

.sec_title span:after {
	left: auto;
	right: -220px;
	transform: rotateY(180deg);
}

.sec_descriptor {
	max-width: 800px;
	margin: 0 auto 8px;
	font-size: 22px;
	line-height: 1.4;
	transition: all .25s;
}

.sec_descriptor > small {
	display: block;
	margin-top: 8px;
	font-size: 17px;
}




/* --- Элементы ----------------------------------------------------------------------------- */


ul li { list-style: none; }

span.close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 28px;
	height: 28px;
	opacity: .75;
	cursor: pointer;
	transition: all .25s;
	z-index: 1000;
}

span.close:hover { opacity: 1; }

.to_top {
	width: 42px;
	height: 42px;
	background: #c55dec;
	border-radius: 80px;
	box-shadow: 0 6px 18px -2px rgba(0,0,0,.15);
	cursor: pointer;
	transition: all .25s ease-in-out;
	opacity: .5;
}

.to_top:before,
.to_top:after {
	position: absolute;
	content: '';
	top: 14px;
	left: 16px;
	width: 4px;
	height: 12px;
	background: #fff;
	border-radius: 4px;
	transform: rotate(40deg);
}

.to_top:after {
	left: 22px;
	transform: rotate(-40deg);
}

.to_top.fixed {
	position: fixed;
	bottom: 4%;
	right: 2%;
	z-index: 100;
}

.to_top:hover {
	opacity: 1;
}

.image_link .overbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(47,191,95,.6);
	border-radius: 4px;
	opacity: 0;
	z-index: -10;
	transition: all .25s ease;
}

.image_link .overbox .svg {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 32px;
	height: 32px;
	fill: #fff;
	transform: scale(.5);
	transition: all .25s ease;
}

.image_link .overbox .image_text {
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 20px;
	font: 600 17px/1.24 'IBMPS';
	color: #fff;
	text-shadow: 0 2px 2px rgba(0,0,0,.1);
}

.image_link .overbox.static,
.g_space.scrollyeah .image_link .overbox {
	background: linear-gradient(190deg,rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,.4) 80%);
	opacity: 1;
	z-index: 20;
}

.image_link .overbox.static .svg {
	opacity: 0;
}

.image_link:hover .overbox {
	opacity: 1;
	z-index: 20;
}

.image_link:hover .overbox.static {
	opacity: 1;
	z-index: 20;
	background: rgba(47,191,95,.6);
}

.image_link:hover .overbox .svg,
.image_link:hover .overbox.static .svg {
	transform: scale(1);
	opacity: 1;
}

.image_link.video .overbox {
	background: none;
	opacity: 1;
	z-index: 20;
}

.image_link.video .overbox:after {
	position: absolute;
	content: '';
	top: calc(50% - 34px);
	left: calc(50% - 34px);
	width: 68px;
	height: 68px;
	background: #fff;
	border-radius: 80px;
	box-shadow: 0 0 0 20px rgba(0,0,0,.05);
	z-index: 10;
}

.image_link.video .overbox .svg {
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 10px);
	width: 24px;
	height: 24px;
	transform: none;
	z-index: 12;
}

.image_link.video .overbox .image_text {
	opacity: 0;
}

.image_link.video:hover .overbox {
	background: rgba(47,191,95,.6);
}

.image_link.video:hover .overbox .image_text {
	opacity: 1;
}

.g_space.scrollyeah .image_link .overbox .image_text,
.g_space.scrollyeah .image_link.video .overbox .image_text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	opacity: 1;
}

.g_space.scrollyeah .image_link .overbox .svg._zoom {
	display: none !important;
}







/* --- Элементы форм ----------------------------------------------------------------------------- */


button, .btn, .big_btn {
	position: relative;
	display: inline-block;
	height: 52px;
	margin: 10px 0;
	padding: 14px 28px;
	border: none;
	background: #FFF;
	box-shadow: 0px 2px 8px rgba(0,0,0,.1);
	border-radius: 4px;
	color: #fff;
	font-family: inherit;
	line-height: inherit;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0 1px 2px rgba(0,0,0,.05);
	cursor: pointer;
	transition: all .2s;
}

.big_btn {
	height: 62px;
	width: 220px;
	padding: 10px 18px;
	text-align: left;
}

.btn.green,
.big_btn.green {
	background: linear-gradient(38deg, #2FBF5F 0%, #66CC36 100%), #2FBF5F;
	box-shadow: 0px 8px 24px rgba(0,179,60,.4);
}

.btn.purple,
.big_btn.purple {
	background: linear-gradient(112deg, #C55DEC 2.5%, #F472E7 97.5%);
	box-shadow: 0px 8px 24px rgba(175,30,229,.2);
}

.btn.with_line:before,
.btn.with_line:after,
.big_btn.with_line:before,
.big_btn.with_line:after {
	content: '';
	position: absolute;
	top: calc(50% + 4px);
	left: -260px;
	width: 240px;
	height: 2px;
	background: linear-gradient(to left, #2FBF5F 40%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 100%);
	box-shadow: 0 -12px 0 0 #2FBF5F;
	opacity: .4;
}

.btn.with_line:after,
.big_btn.with_line:after {
	left: auto;
	right: -260px;
	background: linear-gradient(to right, #2FBF5F 40%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 100%);
}

.btn .svg, .big_btn .svg { filter: drop-shadow(2px 4px 0 rgba(0,0,0,.05)); }

.btn:hover, .big_btn:hover { opacity: .84; }

input, textarea {
	position: relative;
	display: inline-block;
	width: auto;
	height: 48px;
	margin: 5px 0;
	outline-style: none;
    border-radius: 4px;
    padding: 0 14px;
    background: #FFFFFF;
	border: 2px solid rgba(197,93,236,.4);
	box-shadow: 0px 2px 8px rgba(175,30,229,.15);
	font-family: 'IBMPS', sans-serif;
    font-size: 16px;
    transition: all .25s;
}

input.error {
	background: #fff0f0;
	border-color: #ffdbdb;
}

textarea {
	height: 80px;
	padding: 14px;
	resize: vertical;
}

input[placeholder] { 
	text-overflow: ellipsis;
	font-family: 'IBMPS', sans-serif;
}

textarea[placeholder] {
	font-family: 'IBMPS', sans-serif;
}

input:focus, textarea:focus { 
	background: #fff !important;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,.1);
	border-color: #50aafe;
}



/* --- SVG ----------------------------------------------------------------------------- */


#svg_box {
	position: absolute;
	width: 0;
	height: 0;
	visibility: hidden;
}

/*#svg_box path,
#svg_box svg rect,
#svg_box svg ellipse,
.svg path,
.svg rect,
.svg ellipse,
.svg circle { fill: inherit; }*/


.svg {
	position: relative;
	width: 20px;
	height: 20px;
	fill: #fff;
}





/* --- Анимация ----------------------------------------------------------------------------- */


@keyframes Show_fixed_header {
	0% { top: -100px; opacity: 0; }
	100% { top: 0; opacity: 1; }
}

@keyframes Show_header {
	0% { filter:grayscale(100%); opacity: 0; }
	100% { filter:grayscale(0); opacity: 1; }
}





/* --- Галерея ----------------------------------------------------------------------------- */


.gallery, .gallery .g_space { position: relative; }

.gallery .g_space { 
	display: flex;
	max-width: 100%;
	height: 290px;
	margin: 10px 0;
}

.gallery .g_space .image_box {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 210px;
	max-height: 100%;
	margin: 0 10px 0 0;
}

.gallery .g_space .image_box:last-child { margin-right: 0px; }

.image_box .image_link {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	box-shadow: 0px 8px 24px rgba(0,0,0,.15);
}

.gallery .g_space .image_box.pack .image_link { margin-bottom: 10px; }

.gallery .g_space .image_box.pack .image_link:last-child { margin-bottom: 0; }

.gallery .g_space .image_box.wide { max-width: 320px; }

.image_link .image {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 10;
}

.image_link.stack_imgs:before,
.image_link.stack_imgs:after,
.fm_rubric.stack_imgs:before,
.fm_rubric.stack_imgs:after {
	position: absolute;
	content: '';
	bottom: -10px;
	left: 10px;
	width: calc(100% - 20px);
	height: 20%;
	background: rgba(47,191,95,.2);
	border-radius: 4px;
	z-index: 9;
}

.image_link.stack_imgs:after,
.fm_rubric.stack_imgs:after {
	bottom: -20px;
	left: 20px;
	width: calc(100% - 40px);
	background: rgba(197,93,236,.1);
	z-index: 8;
}

.image_link.stack_imgs.top_stack:before,
.image_link.stack_imgs.top_stack:after,
.fm_rubric.stack_imgs.top_stack:before,
.fm_rubric.stack_imgs.top_stack:after  {
	bottom: auto;
	top: -10px;

}

.image_link.stack_imgs.top_stack:after,
.fm_rubric.stack_imgs.top_stack:after {
	bottom: auto;
	top: -20px;
}

.stack_box_images {
	display: none;
	position: absolute;
	width: 0;
	height: 0;
}

.g_space.scrollyeah {
	height: auto;
}

.g_space.scrollyeah .image_link {
	position: relative;
	width: 280px;
	height: 200px;
	margin-right: 10px;
	box-shadow: 0px 4px 12px rgba(0,0,0,.1);
}








/* --- Шапка ----------------------------------------------------------------------------- */


.sec_header	{ 
	position: relative; 
	width: 100%;
	height: 600px;
	background: url('../img/main_bg.jpg') center center no-repeat;
	background-size: cover;
	z-index: 750;
	animation: Show_header 1s ease-in-out;
}

.sec_header:before {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(30,122,61,.6);
}

.sec_header .place {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	z-index: 10;
}

.header {
	position: relative;
	padding-top: 40px;
}

.header .header_content {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.header .menu .menu_icon {
	position: absolute;
	top: 9px;
	left: 0;
	display: none;
	width: 28px;
	height: 24px;
	transition: all .25s ease-in-out;
	cursor: pointer;
}

.header .menu .menu_icon:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	box-shadow: 0 8px 0 0 #fff, 0 16px 0 0 #fff;
	transition: all .25s ease-in-out;
}

.header .menu .menu_icon.active:before,
.header .menu .menu_icon.active:after {
	position: absolute;
	content: '';
	top: 8px;
	left: 0;
	width: 24px;
	height: 3px;
	background: #fff;
	box-shadow: none;
	transform: rotate(45deg);
	transition: all .25s ease-in-out;
}

.header .menu .menu_icon.active:after {
	transform: rotate(-45deg); 
}

.header .menu ul { display: flex; }

.header .menu ul li { margin-left: 24px; }

.header .menu ul li a {
	position: relative;
	padding: 8px 0;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.1);
	transition: all .25s;
}

.header .menu ul li a:before {
	position: absolute;
	content: '';
	top: -4px;
	left: 50%;
	width: 0;
	height: 0;
	background: #fff;
	transition: all .25s;
}

.header .menu ul li a:hover:before {
	left: 0;
	width: 100%;
	height: 2px;
}

.header .social { margin-left: 40px; }

.header .social a {
	display: inline-flex;
	justify-content: center;
    align-items: center;
	width: 34px;
	height: 34px;
	border-radius: 80px;
	background: #fff;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
	transition: all .25s;
}

.header .social a:first-child { margin-right: 10px; }

.header .social a > .svg._facebook {
	width: 18px;
	height: 18px;
}

.header .social a:hover { opacity: .84; }

.header .top_buttons {
	position: relative;
	display: none;
}

.header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 48px;
	width: 100%;
	padding: 0;
	background: #2FBF5F;
	box-shadow: 0 4px 20px 0 rgba(47,191,95,.4);
	z-index: 750;
	animation: Show_fixed_header .4s ease-in-out;
}

.header.fixed .header_content {
	height: 100%;
	max-width: 1280px;
	margin: auto;
	padding: 0 40px;
}

.header.fixed .menu .menu_icon {
	top: 15px;
}

.header.fixed .menu ul li a:before {
	position: absolute;
	content: '';
	top: auto;
	bottom: -6px;
	left: 50%;
}

.header.fixed .menu ul li a:hover {
	opacity: .8;
}

.header.fixed .menu ul li a:hover:before {
	left: 0;
	width: 100%;
	height: 4px;
}

.header.fixed .social {
	display: none;
}

.header.fixed .top_buttons {
	display: block;
	margin-left: 20px;
}

.header.fixed .top_buttons button {
	height: 32px;
	margin: 0;
	padding: 0 8px;
	background: #fff;
	border: none;
	border-radius: 0;
	box-shadow: -20px 0 0 4px rgba(0,0,0,.05);
	color: #2FBF5F;
	cursor: pointer;
	transition: all .2s ease-in-out;
}

.header.fixed .top_buttons .fast_call_btn {
	top: 1px;
	box-shadow: none;
	z-index: 2;
}

.header.fixed .top_buttons .fast_call_btn .svg {
	top: 3px;
	width: 18px;
	height: 18px;
	fill: #c55dec;
}

.header.fixed .top_buttons button:hover {
	opacity: .8;
}

.sec_header_content {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 80px;
}

.sec_header_content .left {	
	max-width: 54%;
	margin-right: 40px; 
}

.sec_header_content .left h1 {
	display: inline-block;
	font-family: 'Gilam';
	font-size: 80px;
	line-height: 1.2;
	color: #fff;
	text-shadow: 0 2px 2px rgba(0,0,0,.1);
}

.sec_header_content .left h1 > small {
	display: block;
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: right;
}

.sec_header_content .left p {
	margin: 8px 0 0 0;
	font-size: 24px;
	color: #fff;
}

.sec_header_content .right {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.sec_header_content .phone_block {
	position: relative;
	text-align: right;
}

.sec_header_content .phone_block a.whatsapp {
	font-weight: bold;
	color: #fff;
}

.sec_header_content .phone_block a.whatsapp .svg {
	width: 28px;
	height: 28px;
	margin-left: 8px;
	transition: all .2s;
}

.sec_header_content .phone_block a.whatsapp:hover .svg {
	width: 34px;
	height: 34px;
}

.sec_header_content .phone_block .phone_link {
	display: block;
	margin: 8px 0;
	font-family: 'Gilam';
	font-size: 28px;
	color: #fff;
	text-shadow: 0 2px 2px rgba(0,0,0,.1);
}

.sec_header_content .phone_block .btn {
	height: auto;
	margin: 0;
	padding: 10px 10px 10px 40px;
}

.sec_header_content .phone_block .btn .svg {
	position: absolute;
	top: 10px;
	left: 10px;
}

.sec_header_content .fast_booking_btn {	margin: 28px 0 0 20px; }

.sec_header_content .fast_booking_btn .svg {
	position: absolute;
	top: 18px;
	right: 18px;
	width: 28px;
	height: 28px;
}





/* --- Топ секция-галерея ----------------------------------------------------------------------------- */


.sec_top_around { 
	position: relative;
	margin-top: 40px;
	animation: Show_header 1s ease-in-out;
}

.sec_top_around .place > em { 
	font-size: 20px; 
}

.sec_top_around .gallery { margin-top: 24px; }

.sec_top_around .gallery .image_box.slim {
	max-height: initial;
	height: calc(100% + 60px); 
}

.sec_top_around .gallery .image_box.slim:nth-last-of-type(2) { top: -60px; }





/* --- Описание экотура ----------------------------------------------------------------------------- */


.sec_ecotour {
	position: relative;
	margin-top: 160px;
}

.ecotour_content {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-top: 70px;
}

.ecotour_content .gallery {
	width: 50%;
}

.ecotour_content .gallery .g_space {
	height: 100%;
	margin: 0;
}

.ecotour_content .gallery .g_space .image_box {
	max-width: 50%;
	margin: 0 20px 0 0;
}

.ecotour_content .gallery .g_space .image_box:nth-child(2) {
	margin-right: 0;
}

.ecotour_content .gallery .g_space .image_box .image_link {
	margin-bottom: 20px;
}

.ecotour_content .tour_info {
	position: relative;
	width: 50%;
	margin-left: 60px;
	font-size: 17px;
}

.ecotour_content .tour_info .tour_descriptor { 
	margin-bottom: 28px; 
}

.ecotour_content .tour_info .tour_descriptor p { 
	margin-top: 8px; 
}

.ecotour_content .tour_info .tour_indicators {
	display: flex;
	margin-bottom: 28px;
	line-height: 1.2;
}

.ecotour_content .tour_info .tour_indicators strong {
	display: block;
	font-family: 'Gilam';
	font-size: 32px;
}

.ecotour_content .tour_info .tour_indicators small { 
	font-size: 20px; 
}

.ecotour_content .tour_info .tour_indicators .tour_money {
	margin-right: 60px;
}

.ecotour_content .tour_info .tour_indicators .tour_money strong { 
	color: #2FBF5F; 
}

.ecotour_content .tour_info .tour_indicators .tour_days strong { 
	color: #C55DEC; 
}

.ecotour_content .tour_info .tour_included ul {
	display: block;
	margin-top: 14px;
}

.ecotour_content .tour_info .tour_included ul li {
	position: relative;
	display: block;
	margin-top: 10px;
	padding-left: 32px;
}

.tour_included ul li:before {
	position: absolute;
	content: '';
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #2FBF5F;
	border-radius: 80px;
	opacity: .8;
}

.tour_included ul li > .svg {
	position: absolute;
	top: 8px;
	left: 5px;
	width: 11px;
	height: 8px;
}

.ecotour_content .tour_info .tour_extra {
	margin-top: 24px;
	font-size: 15px;
}

.ecotour_content .tour_info .tour_extra p {
	margin: 4px 0 0 0;
}

.sec_ecotour .rest_quality {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: 70px;
}

.sec_ecotour .rest_quality h3 {
	position: relative;
	padding: 0 20px;
	background: #fff;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	z-index: 10;
}

.sec_ecotour .rest_quality h3 span {
	padding: 0 20px;
	background: #fff;
}

.sec_ecotour .rest_quality h3:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #C55DEC;
	opacity: .4;
	z-index: -1;
}

.sec_ecotour .rest_quality .rq_blocks {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.sec_ecotour .rest_quality .rq_block {
	width: 25%;
	margin-right: 40px;
	padding-bottom: 20px;
	font-size: 17px;
	text-align: center;
	border-bottom: 1px solid rgba(197,93,236,.4);
}

.sec_ecotour .rest_quality .rq_block:last-child { margin: 0; }






/* --- Программа экотура ----------------------------------------------------------------------------- */


.sec_ecotour_program {
	position: relative;
	margin-top: 100px;
}

.sec_ecotour_program .ecotour_days {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 10px;
}

.ecotour_days .et_day {
	position: relative;
	display: flex;
	align-items: flex-end;
	width: calc(50% - 30px);
	margin-top: 50px;
	border-bottom: 4px solid #D5F2DF;
}

.ecotour_days .et_day .left {
	padding-bottom: 20px;
}

.ecotour_days .et_day .left .image_box {
	width: 210px;
	height: 140px;
}

.ecotour_days .et_day .right {
	position: relative;
	margin-left: 20px;
	padding: 0 0 16px 20px;
	border-left: 4px solid #D5F2DF;
}

.ecotour_days .et_day .right h3 {
	position: relative;
	top: -4px;
	margin: 0;
	padding-bottom: 4px;
}

.ecotour_days .et_day .right h3:before {
	position: absolute;
	content: '';
	top: 4px;
	left: -32px;
	width: 20px;
	height: 20px;
	background: #2FBF5F;
	border-radius: 80px;
	border: 4px solid #D5F2DF;
}

.ecotour_days .et_day .right li {
	position: relative;
	display: block;
	margin-top: 4px;
}

.ecotour_days .et_day .right li:before {
	position: absolute;
	content: '';
	top: 9px;
	left: -20px;
	width: 10px;
	height: 4px;
	background: #D5F2DF;
}





/* --- Проживание ----------------------------------------------------------------------------- */


.sec_residence {
	position: relative;
	margin-top: 100px;
}

.sec_residence .gallery {
	margin-top: 50px;
}

.sec_residence .gallery .g_space {
	height: 300px;
}
.sec_residence .gallery .g_space .image_box {
	margin: 0 20px 0 0;
}

.sec_residence .gallery .g_space .image_box:last-child { margin-right: 0; }

.sec_residence .gallery .g_space .image_box.wide {
	max-width: 360px;
}

.sec_residence .gallery .g_space .image_box .image_link {
	margin-bottom: 20px;
}

.sec_residence .gallery .g_space .image_box.wide .image_link {
	margin-bottom: 0;
}

.residence_conditions {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 60px;
}

.residence_conditions .rc_block {
	position: relative;
	width: 33.333%;
	margin-right: 45px;
	padding: 20px 20px 24px 20px;
	background: #fff;
	box-shadow: 0 12px 24px rgba(47,191,95,.15), inset 0 4px 0 rgba(47,191,95,.2);
	border-radius: 0 0 4px 4px;
	font-size: 17px;
}

.residence_conditions .rc_block:last-child { margin-right: 0; }

.residence_conditions .rc_block ul li {
	position: relative;
	display: block;
	margin-top: 10px;
	padding-left: 32px;
}

.residence_conditions .rc_block ul li:before {
	position: absolute;
	content: '';
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #2FBF5F;
	border-radius: 80px;
	opacity: .8;
}

.residence_conditions .rc_block ul li > .svg {
	position: absolute;
	top: 8px;
	left: 5px;
	width: 11px;
	height: 8px;
}





/* --- Питание ----------------------------------------------------------------------------- */


.sec_food {
	position: relative;
	margin-top: 100px;
}

.sec_food .gallery {
	margin-top: 50px;
}

.sec_food .gallery .g_space {
	height: 260px;
	align-items: flex-end;
}

.sec_food .gallery .g_space .image_box {
	max-width: 270px;
	height: 68%;
	margin: 0 20px 0 0;
}

.sec_food .gallery .g_space .image_box:last-child { margin-right: 0; }

.sec_food .gallery .g_space .image_box.wide {
	max-width: 620px;
	height: 100%;
}

.sec_food .food_menu {
	margin-top: 40px;
	overflow: hidden;
}

.sec_food .food_menu > h3 {
	font-family: 'Gilam';
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.sec_food .food_menu > p {
	margin-top: 0;
}

.sec_food .food_menu .fm_rubrics {
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 20px -10px 0 -10px;
}

.food_menu .fm_rubrics .fm_rubric {
	position: relative;
	max-width: 224px;
	height: 120px;
	margin: 0 10px 40px 10px;
	background: #fff;
	box-shadow: 0 8px 24px rgba(0,0,0,.15);
	border-radius: 4px;
	cursor: pointer;
}

.fm_rubric.stack_imgs:before { z-index: 0; }
.fm_rubric.stack_imgs:after { z-index: -1; }

.food_menu .fm_rubrics .fm_rubric .image {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(50%) contrast(120%);
	transition: all .25s ease-in-out;
}

.food_menu .fm_rubrics .fm_rubric strong {
	position: absolute;
	bottom: 20px;
	left: 20px;
	right: 20px;
	font-family: 'Gilam';
	font-size: 18px;
	color: #fff;
	text-shadow: 0 2px 4px rgba(0,0,0,.4);
}

.food_menu .fm_rubrics .fm_rubric:hover .image {
	filter: brightness(60%) contrast(120%);
}







/* --- Инфраструктура ----------------------------------------------------------------------------- */


.sec_infrastructure {
	position: relative;
	margin-top: 80px;
}

.sec_infrastructure .gallery {
	margin-top: 50px;
}

.sec_infrastructure .gallery .g_space {
	height: 640px;
}

.sec_infrastructure .gallery .g_space .image_box {
	max-width: 285px;
	margin: 0 20px 0 0;
}

.sec_infrastructure .gallery .g_space .image_box:last-child { margin-right: 0; }

.sec_infrastructure .gallery .g_space .image_box .image_link {
	margin-bottom: 40px;
}

.sec_infrastructure .image_box.pack.n2 .image_link:first-child {
	height: 220%;
}

.sec_infrastructure .gallery .image_box .overbox {
	opacity: 1;
	z-index: 20;
}





/* --- Задать вопрос и подвал ----------------------------------------------------------------------------- */


.footer {
	position: relative;
	margin-top: 100px;
}

.footer:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url('../img/big_bg.png') center center no-repeat;
	background-size: cover;
	opacity: .2;
}

.footer .place {
	padding-top: 200px;
	padding-bottom: 40px;
}

.footer .ask_us {
	position: relative;
	display: flex;
	align-items: flex-end;
}

.footer .ask_us .left {
	max-width: 680px;
	margin-right: 60px;
}

.footer .ask_us .left > h3 {
	font-family: 'Gilam';
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.footer .ask_us .left > p {
	margin-top: 0;
	font-size: 17px;
}

.footer .ask_us .left .ask_form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 100%;
	overflow: hidden;
}

.footer .ask_us .left .ask_form textarea { 
	display: block;
	width: 100%;
	height: 120px;
}

.footer .ask_us .left .ask_form input {
	width: 32%;
}

.footer .ask_us .left .ask_form .big_btn {
	margin: 20px auto;
}

.footer .ask_us .left .ask_form .big_btn .svg {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 32px;
    height: 26px;
}

.footer .ask_us .right {
	margin-bottom: 110px;
}

.footer .ask_us .right > h4 {
	font-family: 'Gilam';
	font-size: 24px;
}

.footer .ask_us .right > p {
	margin-top: 0;
	font-size: 17px;
}

.footer .ask_us .right .contacts {
	display: flex;
	flex-wrap: wrap;
}

.footer .ask_us .right .contacts > div > b {
	display: block;
}

.footer .ask_us .right .contacts > div > a {
	font-family: 'Gilam';
	font-size: 18px;
}

.footer .ask_us .right .contacts .phone {
	position: relative;
	margin-right: 80px;
}

.footer .ask_us .right .contacts .phone .svg {
	position: absolute;
	top: 2px;
	right: -44px;
	width: 34px;
	height: 34px;
	transition: all .25s;
}

.footer .ask_us .right .contacts .phone .svg:hover {
	transform: scale(1.2);
}

.footer .ask_us .right .social_link {
	margin-top: 20px;
}

.footer .ask_us .right .social_link > a {
	position: relative;
	display: inline-block;
	margin-right: 20px;
	padding: 6px 10px 6px 40px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 2px 8px rgba(0,0,0,.1);
	font-weight: bold;
}

.footer .ask_us .right .social_link a.facebook {
	padding-left: 34px;
}

.footer .ask_us .right .social_link .svg {
	position: absolute;
	top: 6px;
	left: 10px;
}

.footer .ask_us .right .social_link .svg._facebook {
	width: 18px;
	height: 18px;
}


.footer .requisite {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-top: 150px;
}

.footer .requisite .requisite_block {
	width: 28%;
}

.footer .requisite .requisite_block p {
	margin-top: 8px;
}





/* --- Модальные окна ----------------------------------------------------------------------------- */


.modal_windows {
	position: absolute;
	display: none;
	width: 0;
	height: 0;
}

.mod_win {
	position: relative;
	display: none;
	max-width: 420px;
	padding: 20px 24px 24px 24px;
	background: #fff;
	border-radius: 4px;
	transition: transform .25s ease-in-out, opacity .5s ease-in-out;
	transform: scale(.8) translateY(-240px);
	opacity: 0;
	z-index: 1001;
}

.fancybox-slide--current .mod_win {
	transform: scale(1) translateY(0);
	opacity: 1;
	transition: transform .25s ease-in-out, opacity .5s ease-in-out;
}

.mod_win .fancybox-close-small {
	box-shadow: none;
	color: #ca1010;
}

.mod_win .fancybox-close-small svg { stroke-width: 3; }

.mod_win header {
	margin-bottom: 20px;
}

.mod_win header h3 {
	font-family: 'Gilam';
	font-size: 24px;
}

.mod_win header p {
	font-size: 17px;
	margin: 4px 0 0;
}

.mod_win .mw_content {

}

.mod_win .mw_content form {
	position: relative;
	margin: 0;
	max-width: 100%;
}

.mod_win .mw_content form input,
.mod_win .mw_content form textarea,
.mod_win .mw_content .btn {
	width: 100%;
}

.mod_win .mw_content .btn {
	margin-bottom: 0;
}

.mod_win.mw_food_rubric {
	max-width: 984px;
	padding: 32px;
}

.mod_win.mw_food_rubric .mw_content {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
	overflow: hidden;
}


.mod_win.mw_food_rubric .dish {
	position: relative;
	max-width: 280px;
	margin: 20px;
	border-bottom: 2px solid rgba(197,93,236,.25);
}

.mod_win.mw_food_rubric .dish .image_link {
	display: flex;
	width: 100%;
	height: 160px;
	box-shadow: 0 8px 24px rgba(0,0,0,.15);
	border-radius: 4px;
}

.mod_win.mw_food_rubric .dish .image_link .image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.mod_win.mw_food_rubric .dish .text_block {
	display: flex;
	flex-direction: column;
	margin-top: 14px;
	padding-bottom: 12px;
}

.mod_win.mw_food_rubric .dish .text_block strong {
	display: block;
	font-size: 17px;
}

.mod_win.mw_food_rubric .dish .text_block p {
	margin: 6px 0 12px;
}

.mod_win.mw_food_rubric .dish .text_block span {
	color: #777;
}

.mod_win.mw_food_rubric .dish .text_block span > b {
	padding-left: 20px;
	color: #2C2230;
}

.mod_win.mw_food_rubric .big_btn {
	display: block;
	width: 240px;
	margin: 20px auto 10px auto;
}

.mod_win.mw_food_rubric .big_btn .svg {
	position: absolute;
	top: 16px;
	right: 18px;
	width: 32px;
	height: 32px;
}

.mod_win.mw_good p,
.mod_win.mw_error p {
	margin: 8px 0 0;
	font-size: 17px;
}

.mod_win.mw_good h3 { color: #2FBF5F; }
.mod_win.mw_error h3 { color: #EC2222; }






/* --- Блоки «захвата» ----------------------------------------------------------------------------- */


.trap {
	position: relative;
	margin: 50px 0;
	background: linear-gradient(30deg, rgba(47,191,95,.1) 0%, rgba(102,204,54,.1) 100%);
}

.trap:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url('../img/small_bg.jpg') center center no-repeat;
	background-size: cover;
	opacity: .1;
	z-index: -1;
}

.trap .place {
	display: flex;
	flex-wrap: wrap;
}

.trap header {
	position: relative;
	width: 100%;
	margin-bottom: 10px;
	padding-top: 40px;
	border-top: 1px solid rgba(47,191,95,.4);
}

.trap header > strong,
.trap.n3 .trap_content > strong {
	display: block;
	font-family: 'Gilam';
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.trap header > p,
.trap.n3 .trap_content > p {
	margin: 4px 0 8px;
	max-width: 800px;
	font-size: 17px;
}

.trap .trap_content {
	width: 100%;
	position: relative;
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(47,191,95,.4);
}

.trap .trap_content form {
	position: relative;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.trap .trap_content form .inputs {
	position: relative;
}

.trap.n1 .trap_content form .inputs,
.trap.n2 .trap_content form .inputs {
	margin-right: 10px;
}

.trap .trap_content form .inputs > input {
	display: block;
	max-width: 220px;
	margin-bottom: 10px;
}

.trap .trap_content form .inputs > input:last-child,
.trap.n2 .trap_content form .inputs > input:last-child {
	margin: 0;
}

.trap .trap_content form textarea {
	width: 100%;
	max-width: 320px;
	height: 106px;
}

.trap .trap_content .big_btn .svg {
	position: absolute;
	top: 16px;
	right: 18px;
	width: 28px;
	height: 28px;
}

.trap.n1 .trap_content .big_btn {
	align-self: center;
	margin-left: 10px;
}

.trap.n1 .trap_content .big_btn:before,
.trap.n1 .trap_content .big_btn:after {
	position: absolute;
	content: '';
	top: -20px;
	left: 0;
	width: 100px;
	height: 2px;
	background: rgba(47,191,95,.4);
}

.trap.n1 .trap_content .big_btn:after {
	top: auto;
	bottom: -20px;
	width: 100%;
}

.trap.n2 .trap_content form .inputs:after {
	position: absolute;
	content: '';
	bottom: 5px;
	left: 0;
	width: 100%;
	height: 2px;
	background: rgba(47,191,95,.4);
}

.trap.n2 .trap_content form .inputs > input {
	display: inline-block;
	margin-right: 10px;
}

.trap.n2 .trap_content .big_btn {
	margin: 5px 0;
}

.trap.n3 {
	background: #fff;
}

.trap.n3:after {
	display: none;
}

.trap.n3 .place {
	justify-content: space-between;
}

.trap.n3 .trap_content {
	width: 48%;
	padding: 40px;
	background: linear-gradient(45deg, rgba(47,191,95,.1) 0%, rgba(102,204,54,.1) 100%);
	border: none;
	border-radius: 4px;
	text-align: center;
}

.trap.n3 .trap_content:nth-child(2) {
	background: linear-gradient(99deg, rgba(197,93,236,.1) 0%, rgba(244,114,231,.1) 100%);;
}

.trap.n3 .trap_content > p {
	max-width: 100%;
}

.trap.n3 .trap_content .big_btn {
	margin: 14px 0 0;
}

.trap.n3 .trap_content:nth-child(2) .big_btn .svg {
	width: 32px;
	height: 32px;
}





/* --- SkrollYeah ----------------------------------------------------------------------------- */


.scrollyeah {
  position: relative;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  *zoom: 1;
}

.scrollyeah__wrap {
  overflow: hidden;
  *zoom: 1;
}

.scrollyeah__shaft {
  float: left;
  left: 0;
  position: relative;
  display: flex;
  padding: 20px 0;
}

.scrollyeah_active .scrollyeah__shaft {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
  *cursor: move !important;
}

.scrollyeah_active .scrollyeah__shaft_grabbing, .scrollyeah_active .scrollyeah__shaft_grabbing * { 
	cursor: -webkit-grabbing;
	cursor: -o-grabbing;
	cursor: -ms-grabbing;
	cursor: grabbing;
	cursor: grabbing; 
}

.scrollyeah__shadow {
  position: absolute;
  text-decoration: none;
  top: 0;
  bottom: 0;
  width: 40px;
  height: auto;
  transition-property: left, right;
  transition-duration: .3s, .3s;
  transition-timing-function: cubic-bezier(0.1, 0, 0.25, 1), cubic-bezier(0.1, 0, 0.25, 1);
  z-index: 20;
}

.scrollyeah__shadow_prev {
  left: -40px;
}

.scrollyeah__shadow_next {
  right: -40px;
}

.scrollyeah__shadow_prev:before,
.scrollyeah__shadow_next:before {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	width: 1px;
	height: 100%;
	background: #2fbf5f;
	border-radius: 2px;
} 

.scrollyeah__shadow_prev:before {
	right: auto;
	left: 0;
}

.scrollyeah_shadow .scrollyeah__shadow_prev { left: 0; }
.scrollyeah_shadow .scrollyeah__shadow_next { right: 0; }
.scrollyeah_shadow_no-left .scrollyeah__shadow_prev { left: -40px; }
.scrollyeah_shadow_no-right .scrollyeah__shadow_next { right: -40px; }







/* --- К меньшему разрешению ----------------------------------------------------------------------------- */


@media screen and (max-width: 1200px) {
	
	.sec_header_content .left {
		max-width: 68%;
	}

}


@media screen and (max-width: 1024px) {

	.sec_title {
		font-size: 48px;
	}

	.sec_header {
		height: 520px;
	}

	.header .menu ul li {
		margin-left: 20px;
	}

	.sec_header_content .left h1 {
		font-size: 72px;
	}

	.sec_top_around .gallery .g_space {
		height: 240px;
	}

	.ecotour_content .gallery .g_space {
		max-height: 600px;
	}

	.ecotour_content .tour_info {
		margin-left: 40px;
	}

	.ecotour_content .tour_info .tour_indicators .tour_money {
		margin-right: 40px;
	}

	.ecotour_days .et_day {
		width: 100%;
	}

	.sec_residence .gallery .g_space {
		height: 240px;
	}

	.residence_conditions .rc_block {
		margin-right: 20px;
	}

	.sec_food .gallery .g_space {
		height: 240px;
	}

	.food_menu .fm_rubrics .fm_rubric {
		max-width: 220px;
	}

	.sec_infrastructure .gallery .g_space {
		height: 520px;
	}

	.footer .ask_us .left {
		margin-right: 40px;
	}

	.footer .ask_us .right {
		max-width: 320px;
	}

	.footer .requisite {
		justify-content: space-between;
	}

	.footer .requisite .requisite_block {
		width: 30%;
	}

}


@media screen and (max-width: 840px) {
	
	.place,
	.header.fixed .header_content {
		padding-left: 24px;
		padding-right: 24px;
	}

	.header .menu .menu_icon {
		display: block;
		left: 0;
	}

	.header.fixed .menu .menu_icon {
		left: 24px;
	}

	.header .menu ul {
	    position: absolute;
	    top: 48px;
	    left: 24px;
	    flex-direction: column;
	    flex-wrap: wrap;
	    display: none;
	    background: #2FBF5F;
	    border-radius: 0 0 4px 4px;
	    box-shadow: 0 8px 20px 0 rgba(47,191,95,.4);
	    transition: all 25s ease-in-out;
	    z-index: 900;
	}

	.header .menu ul li {
		margin: 0;
		padding: 10px 12px;
		border-bottom: 1px solid rgba(0,0,0,.05);
	}

	.header .menu ul li:first-child {
		border-top: 1px solid rgba(0,0,0,.05);
	}

	.header .menu ul.visible {
		display: block;
	}

	.sec_header_content {
		flex-wrap: wrap;
		margin-bottom: 40px;
	}

	.sec_header_content .left {
		max-width: 100%;
		margin: 20px 0 0 0;
	}

	.sec_header_content .left h1 {
		font-size: 64px;
	}

	.sec_header_content .left h1 > small {
		font-size: 24px;
	}

	.sec_title { 
		overflow: hidden;
		line-height: 1.2;
	}

	.sec_top_around .gallery .g_space,
	.sec_residence .gallery .g_space,
	.sec_food .gallery .g_space {
		height: auto;
	}

	.sec_ecotour { 
		margin-top: 100px; 
	}

	.ecotour_content { 
		flex-wrap: wrap;
		margin-top: 40px;
	}
	
	.ecotour_content .gallery,
	.ecotour_content .tour_info {
		width: 100%;
		margin: 0;
	}

	.ecotour_content .tour_info {
		margin-top: 40px;
	}

	.sec_ecotour .rest_quality .rq_blocks {
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.sec_ecotour .rest_quality .rq_block {
		width: calc(40% - 40px);
		margin: 0;
		padding: 20px 0;
	}

	.sec_residence .gallery {
		margin-top: 40px;
	}

	.residence_conditions {
		margin-top: 32px;
		flex-wrap: wrap;
	}

	.residence_conditions .rc_block {
		width: 100%;
		margin: 0;
	}

	.sec_food .gallery {
		margin-top: 40px;
	}

	.sec_infrastructure .gallery {
		margin-top: 40px;
	}

	.sec_infrastructure .gallery .g_space {
		height: auto;
	}

	.footer {
		margin-top: 60px;
	}

	.footer .ask_us {
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer .ask_us .left {
		margin: 0;
	}

	.footer .ask_us .right {
		max-width: 680px;
		margin: 40px 0 0;
	}

	.footer .requisite {
		align-items: normal;
	}

	.footer .requisite .requisite_block {
		width: 100%;
		margin-bottom: 10px;
	}

	.footer .requisite .requisite_block p {
		margin-top: 4px;
	}

	.mod_win.mw_food_rubric .dish {
		max-width: max-content;
		width: calc(50% - 40px);
	}

}

@media screen and (max-width: 580px) {

	.sec_header {
		height: 600px;
	}

	.sec_header_content .left h1 {
		font-size: 48px;
	}

	.sec_header_content .left h1 > small {
		font-size: 18px;
	}

	.sec_header_content .left p {
		font-size: 20px;
	}

	.place > .text_center {
		text-align: left;
	}

	.sec_title {
		font-size: 38px;
	}

	.sec_title span:before, .sec_title span:after {
		display: none;
	}

	.sec_descriptor {
		font-size: 17px;
	}

	.sec_descriptor > small {
		font-size: 15px;
	}

	.sec_ecotour {
		margin-top: 80px;
	}

	.ecotour_content,
	.ecotour_content .tour_info {
		margin-top: 24px;
	}

	.ecotour_content .tour_info .tour_indicators strong {
		font-size: 26px;
	}

	.sec_ecotour .rest_quality .rq_blocks {
		margin-top: 20px;
	}

	.sec_ecotour .rest_quality .rq_block {
		width: 100%;
	}

	.ecotour_days .et_day {
		flex-wrap: wrap;
	}

	.ecotour_days .et_day .right {
		margin: 0;
	}

	.sec_residence .gallery,
	.residence_conditions {
		margin-top: 24px;
	}

	.sec_food .gallery,
	.sec_food .food_menu {
		margin-top: 24px;
	}

	.food_menu .fm_rubrics .fm_rubric {
		max-width: 80%;
	}

	.sec_infrastructure .gallery {
		margin-top: 24px;
	}

	.footer {
		margin-top: 24px;
	}

	.footer .place {
		padding-top: 100px;
	}

	.footer .ask_us .left .ask_form {
		flex-wrap: wrap;
	}

	.footer .ask_us .left .ask_form input {
		width: 100%;
	}

	.footer .ask_us .right {
		position: relative;
		top: 24px;
	}

}

@media screen and (max-width: 420px) {

	.place,
	.header.fixed .header_content {
		padding-left: 20px;
		padding-right: 20px;
	}

	.sec_header {
		height: 660px;
	}

	.header.fixed .menu .menu_icon {
		left: 20px;
	}

	.header .menu ul {
		left: 0;
	}

	.header.fixed .menu ul {
		left: 20px;
	}

	.sec_header_content {
		text-align: center;
	}

	.sec_header_content .left h1 {
		font-size: 58px;
		line-height: 1;
	}

	.sec_header_content .left h1 > small {
		margin-bottom: 8px;
		font-size: 16px;
		text-align: center;
	}

	.sec_header_content .left p {
		line-height: 1.2;
	}

	.sec_header_content .right {
		justify-content: center;
	}

	.sec_ecotour, .sec_ecotour_program, .sec_residence, .sec_food, .sec_infrastructure {
		margin-top: 60px;
	}

	.sec_title {
		font-size: 34px;
	}

	.sec_top_around {
		margin-top: 24px;
	}

	.sec_top_around .place > em {
		font-size: 17px;
	}

	.sec_top_around .gallery {
		margin-top: 10px;
	}

	.g_space.scrollyeah .image_link {
		width: 240px;
		height: 168px
	}

	.ecotour_content,
	.ecotour_content .tour_info {
		margin-top: 18px;
	}

	.ecotour_content .tour_info .tour_indicators {
		flex-wrap: wrap;
	}

	.ecotour_content .tour_info .tour_indicators .tour_money {
		margin: 0 0 20px;
	}

	.ecotour_content .tour_info .tour_indicators strong {
		font-size: 32px;
	}

	.sec_ecotour .rest_quality {
		margin-top: 40px;
	}

	.sec_ecotour .rest_quality h3 {
		padding: 0;
		text-align: left;
	}

	.sec_ecotour .rest_quality h3 span {
		padding: 0;
		color: #c55dec;
    	font-size: 17px;
	}

	.sec_ecotour .rest_quality h3:before {
		display: none;
	}

	.sec_ecotour .rest_quality .rq_blocks {
		margin: 8px 0;
	}

	.sec_ecotour .rest_quality .rq_block {
		padding: 12px 0;
		text-align: left;
	}

	.sec_residence .gallery,
	.residence_conditions {
		margin-top: 18px;
	}

	.sec_food .gallery,
	.sec_food .food_menu {
		margin-top: 18px;
	}

	.sec_infrastructure .gallery {
		margin-top: 18px;
	}

	.footer .ask_us .left > h3 {
		font-size: 28px;
	}

	.mod_win {
		padding: 20px;
	}

	.mod_win.mw_food_rubric .dish {
		width: 100%;
	}

}
















