


/* --- Шрифты --- */


@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
	   url('../fonts/Roboto.woff') format('woff'),
  	   url('../fonts/Roboto.ttf') format('ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto-Italic';
  src: local('Roboto Italic'), local('Roboto-Italic'),
  	   url('../fonts/Roboto-Italic.woff') format('woff'),
  	   url('../fonts/Roboto-Italic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: local('Roboto Medium'), local('Roboto-Medium'),
	   url('../fonts/Roboto-Medium.woff') format('woff'),
  	   url('../fonts/Roboto-Medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: local('Roboto Bold'), local('Roboto-Bold'),
	   url('../fonts/Roboto-Bold.woff') format('woff'),
  	   url('../fonts/Roboto-Bold.ttf') format('ttf');
  font-weight: bold;
}



/* --- Основа --- */


* {
	margin: 0;
	padding: 0;
	outline: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
	box-sizing:border-box;
}

html, body { height: 100%; }

body {
	font: normal 15px/1.5 'Roboto', sans-serif;
	min-height: 100%;
	background: #f2f7fc;
	color: #28333a;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

body.ovh { overflow: hidden; }

header, section, nav, aside, article, footer, .h1, .h2, .h3, .h4 { display: block; }

#space {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.mxw { position: relative; }

img { border: none; }

a, .link, a.indicator {
  text-decoration: none;
  color: #166cc4;
  cursor: pointer;
}

a:hover, .link:hover, .btn:hover, a.indicator:hover { color: #e01111; }

.fl_l { float: left; }
.fl_r { float: right; }



/* --- Текстая часть --- */


.short {
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.up_text {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.center { text-align: center; }

i, em, .italic {
	font-family: 'Roboto-Italic';
	font-style: italic;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4, strong, b, .btn, .news article .link {	
	font-family: 'Roboto-Medium'; 
	font-weight: 500;
}

h1, .h1 { 
	font-size: 22px;
	line-height: 1.4;
}

h2, .h2 { 
	font-size: 20px;
	line-height: 1.4;
}

h3, .h3 { font-size: 17px; }

h4, .h4 { font-size: 15px; }

h1.up_text, .h1.up_text {
	margin: 40px 0 15px;
	font-size: 20px; 
}

h1.up_text, .h1.up_text, h2.up_text, .h2.up_text, h3.up_text, .h3.up_text, .bolder {
	font-family: 'Roboto-Bold';
	font-weight: bold;
	line-height: 1.5;
}

h2.up_text, .h2.up_text { 
	font-size: 16px;
	color: #718aaa;
}

h3.up_text, .h3.up_text { 
	font-size: 14px;
	color: #718aaa;
}

h1.up_text, h2.up_text, h3.up_text, .h1.up_text, .h2.up_text, .h3.up_text { text-align: center; }

p { margin: 12px 0; }

small, .small_text { font-size: 12px; }

h1 > small, h2 > small, h3 > small, .h1 > small { 
	display: block;
	font-size: 16px; 
}

h1.up_text > small, .h1.up_text > small { font-size: 14px; }

h1.up_text > small.index {
	font-family: 'Roboto';
	font-weight: normal;
	text-transform: none;
	letter-spacing: 0;
	color: #718aaa;
}

.indicator {
	font-size: 14px;
	color: #556575;
}

.big { font-size: 17px; }

.text_blue { color: #166cc4; }
.text_red { color: #e01111; }

.date { color: #556575; }

sup {
	padding-left: 3px;
	font-size: 11px;
	color: #718aaa;
	vertical-align: super;
}

sup.notice { color: #d54444; }



/* --- Картинки --- */


.mini_item .base .image > img,
.item .base .image > img,
.news .image > img,
.card.company .firm .image > img,
.card.order .order_i .image > img,
.card .small_news .image > img,
.img_box .image > img {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 120%;
	max-height: 120%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.mini_item.firm .base .image > img,
.item.firm .base .image > img,
.img_box .image > img {
	max-width: 100%;
	max-height: 100%;
}





/* --- Элементы --- */


.btn {
	position: relative;
	display: inline-block;
	margin: 15px 0;
	padding: 12px 24px;
	background: #fff;
	border: 1px solid #66a3ee;
	border-radius: 2px;
	box-shadow: 0 2px 10px rgba(0,0,0,.1);
	font-size: 15px;
	text-align: center;
	color: #166cc4;
	cursor: pointer;
}

.btn.green {
	background: #52c040;
	border: none;
	color: #fff;
}

.btn.orange {
	border: none;
    background: #ffcf3a;
    color: #785400;
}

.btn .svg_icon {
	vertical-align: bottom;
    margin-right: 14px;
    fill: #fff;
}

.btn.launch {
	display: table;
	margin: 15px auto;
}

.delivery_calc_btn {
	background: #66a3ee;
    color: #fff;
}

.delivery_calc_btn .svg_icon {
	width: 28px;
	height: 20px;
}

.tabs .link {
	position: relative;
	display: inline-block;
	padding: 8px 15px;
	background: #fff;
	border: 1px solid #66a3ee;
	border-radius: 2px;
	cursor: pointer;
}

.tabs .link.active {
	background: #66a3ee;
	color: #fff;
}

.tabs.cat_choice { overflow: hidden; }

.tabs.cat_choice .left {
	float: left;
	width: 48%;
}

.tabs.cat_choice .right {
	float: right;
	width: 48%;
}

.tabs.cat_choice .link { display: block; }

.tabs.cat_choice .link.ch_firms, .tabs.cat_choice .link.ch_category { 
	border-radius: 2px 2px 0 0;
	border-bottom: none;
}
.tabs.cat_choice .link.ch_goods, .tabs.cat_choice .link.ch_regions { border-radius: 0 0 2px 2px; }

ul li { list-style: none; }

.uni_close,
.uni_back {
	position: absolute;
	top: 0;
	right: 0;
	width: 22px;
	height: 22px;
	text-align: center;
	cursor: pointer;
}

.uni_close:before, .uni_close:after,
.uni_back:before, .uni_back:after {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 2px;
	height: 100%;
	margin: auto;
	background: #d54444;
	border-radius: 2px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.uni_back:before, .uni_back:after {
	top: 8px;
	height: 15px;
}

.uni_close:after { -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.uni_back:after { top: -9px; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

.uni_show {
	position: absolute;
	width: 52px;
	height: 40px;
	background: #fff;
	border-radius: 0 0 2px 2px;
	cursor: pointer;
}

.uni_show i {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.uni_show i, .uni_show i:before, .uni_show i:after {
	position: absolute;
	content: '';
	width: 6px;
	height: 6px;
	background: #66a3ee;
	border-radius: 10px;
}

.uni_show i:before { left: -10px; }
.uni_show i:after {	right: -10px; }

.uni_show.active i, .uni_show.active i:before, .uni_show.active i:after { background: #d54444; }

.uni_show.vertical {
	width: 32px;
	height: 48px;
	border-radius: 0;
}

.uni_show.vertical i:before { 
	left: auto;
	top: -10px; 
}

.uni_show.vertical i:after {
	right: auto;
	bottom: -10px;
}

hr, hr.line {
	width: 100%;
	height: 1px;
	margin: 10px 0;
	background: #d8e2ee;
	border: none;
}

hr.s_line {
	width: 30px;
	height: 2px;
	margin: 20px auto;
	background: #bccee5;
}

.small_msg {
	margin: 10px 0;
	padding: 5px 5px 5px 15px;
	border-left: 2px solid #3aaa27;
	font-size: 13px;
	text-align: left;
}

.small_msg.error {
	background: linear-gradient(to right, rgba(255,0,0,.05) 0%, rgba(0,0,0,0) 100%);
	border-color: #d54444;
	font-size: 14px;
	color: #bb0000;
}

.small_msg.error strong { display: block; }




/* --- Элементы форм --- */


button {
	background: #fff;
	border: 1px solid #66a3ee;
	border-radius: 2px;
	color: #166cc4;
	cursor: pointer;
}

.input, textarea, select {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 38px;
	padding: 0 5px;
	background: #fff;
	border: 1px solid rgba(102,163,238,.5);
	box-shadow: 0 1px 4px 0 rgba(40,70,100,.08);
	border-radius: 2px;
	font-size: 14px;
}

textarea {
	height: 100px;
	padding: 5px;
}

input[placeholder] { text-overflow: ellipsis; }

.input:focus, textarea:focus { 
	border: 1px solid rgba(102,163,238,1);
	box-shadow: 0 2px 8px 0 rgba(40,70,100,.1);
}

.input.green { border-color: #55bb44; }

label.select {
	position: relative;
	display: block;
}

.select > select { 
	padding: 0 30px 0 10px;
	line-height: 1.6;
	-moz-appearance: none;
    -webkit-appearance: none;
    apperance: none; 
}

.select.ch_link { 
	width: 70%;
	margin: 0 auto;
}

.select:after {
	position: absolute;
	content: '';
	top: 17px;
	right: 10px;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 5px solid #66a3ee;
}

.checkbox, .radio {
  display: block;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
  vertical-align: top;
}

.checkbox:not(checked), .radio:not(checked) {
  position: absolute;
  opacity: 0;
}

.checkbox:not(checked) + label {
  position: relative;
  display: block;
  padding: 2px 60px 0 0;
  line-height: 1.3;
}

.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 2px;
  width: 48px;
  height: 22px;
  margin: auto 0;
  border-radius: 20px;
  background: #bccee5;
}

.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 26px;
  width: 26px;
  height: 26px;
  margin: auto 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 1px 10px -1px rgba(40,90,140,.5);
  transition: all .2s;
}

.checkbox:not(checked) + label .svg_icon {
	position: absolute;
    top: 0;
    bottom: 0;
    right: 3px;
    width: 0;
    height: 0;
    margin: auto 0;
    opacity: 0;
    fill: #66a3ee;
    z-index: 99;
    transition: all .2s;
}

.checkbox:checked + label .svg_icon {
	width: 15px;
	height: 15px;
	opacity: 1;
}

.checkbox + label, .radio + label { cursor: pointer; }
.checkbox:checked + label:before { background: #66a3ee; }
.checkbox:checked + label:after { right: -2px; }

.checkbox + label .cash {
	display: block;
	margin: 2px 0 10px;
	font-size: 14px;
	color: #3aaa27;
}

.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 35px;
}

.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #66a3ee;
  border-radius: 50%;
  box-shadow: 0 1px 10px -1px rgba(40,90,140,.1);
  background: #fff;
}

.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #66a3ee;
  opacity: 0;
  transition: all .2s;
}

.radio:checked + label:after { opacity: 1; }


.form_element {
	position: relative;
	margin: 10px 0;
	padding: 2px 0 16px;
	border-bottom: 1px solid #d8e2ee;
	text-align: left;
}

.form_element b.bolder {
	position: relative;
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #718aaa;
}

form .required:after {
	position: relative;
	content: '*';
	top: 1px;
	margin-left: 5px;
}

.form_element .btn { margin: 10px 0; }

.form_element .helper {
	display: block;
	margin-top: 5px;
	line-height: 1.4;
	color: #556575;
}

.input.search {
	padding-right: 45px;
	border-color: #ffcf3a;
}

.input.search:focus { box-shadow: 0 1px 4px 0 rgba(40,70,100,.08); }

.form_element .combi { position: relative; }

.form_element .combi .input { padding-right: 115px; }

.form_element .combi .btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 110px;
	height: 38px;
	margin: 0;
	padding: 0;
	border-radius: 0 2px 2px 0;
	box-shadow: none;
}

.form_element.double {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.form_element.double > div { width: 48%; }

.form_element.error .bolder { color: #d54444; }
.form_element.error .input, .form_element.error textarea, .form_element.error select { border-color: rgba(255, 0, 0, 0.5); }





/* --- SVG --- */


#svg_icons {
	display: none;
	width: 0;
	height: 0;
	visibility: hidden;
}

svg path, svg rect, svg ellipse { fill: inherit; }

svg.svg_icon {
	width: 20px;
	height: 20px;
	fill: #bccee5;
}

.indicator .svg_icon {
	width: 14px;
	height: 14px;
	margin: 0 8px -2px 0;
}

.indicator .svg_icon._product {
	width: 12px;
	height: 12px;
	margin-bottom: -1px;
}

.mini_item .svg_icon._rubler {
	width: 15px;
	height: 10px;
	fill: #28333a;
}

.item .svg_icon._rubler {
	width: 16px;
	height: 11px;
	fill: #28333a;
}



/* --- Анимация --- */


@-webkit-keyframes Hide_Exit {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}


@keyframes Hide_Exit {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes Show_Exit {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes Show_Exit {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes Show_Items {
  0%   { opacity: 0; -webkit-transform: translateY(100px) scale(.5); transform: translateY(100px) scale(.5); }
  100% { opacity: 1; -webkit-transform: translateY(0) scale(1); transform: translateY(0) scale(1); }
}

@keyframes Show_Items {
  0%   { opacity: 0; -webkit-transform: translateY(100px) scale(.5); transform: translateY(100px) scale(.5); }
  100% { opacity: 1; -webkit-transform: translateY(0) scale(1); transform: translateY(0) scale(1); }
}

.card, .news, .mini_item, .item, .item_view {
	-webkit-animation: Show_Items 1s;
	animation: Show_Items 1s;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}


.search_block,
.sidebar,
.modal_space { 
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(.7);
    transform: scale(.7);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%; 
    transition: visibility 0s .3s, opacity .2s, -webkit-transform .3s; 
    transition: visibility 0s .3s, transform .3s, opacity .2s; 
    transition: visibility 0s .3s, transform .3s, opacity .2s, -webkit-transform .3s;
}

.search_block.active,
.sidebar.active,
.modal_space.active {
	opacity: 1;
	visibility: visible;
	-webkit-transform: scale(1);
	transform: scale(1);
	transition-delay: 0s;
}



/* --- Шапка --- */


.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: #fff;
	box-shadow: 0 10px 20px 0 rgba(40,90,140,.1);
	z-index: 1000;
	-webkit-backface-visibility: hidden;
   	backface-visibility: hidden;
}

.header .mxw { margin: 0 auto; }

.header .logo {	
	position: absolute;
	margin: 10px 0 0 10px; 
}

.header .logo > a {
	display: inline-block;
	width: 36px;
	height: 30px;
	background: url('../img/logo.svg') no-repeat;
}

.header .logo > strong {
	position: relative;
	top: -2px;
	margin-left: 5px;
	display: inline-block;
	font-size: 13px;
	line-height: 1.4;
}

.header .logo > strong small { display: block; }

.header .srch, .header .menu {
	position: absolute;
	top: 0;
	right: 0;
	width: 42px;
	height: 50px;
	background: #fff;
	cursor: pointer;
}

.header .srch { right: 50px; }

.header .srch .svg_icon._search {
	height: 20px;
	margin: 14px 0 0 10px;
	fill: #166cc5;
}

.header .menu > i {
	position: relative;
	display: block;
	width: 22px;
	height: 2px;
	margin: 24px 0 0 10px;
	background: #166cc5;
}

.header .menu > i:before, .header .menu > i:after {
	position: absolute;
	content: '';
	top: -8px;
	left: 0;
	width: 22px;
	height: 2px;
	background: #166cc5;
}

.header .menu > i:after { top: 8px; }

.header .menu .uni_close, .header .srch .uni_close {
	top: 0;
	bottom: 0;
	left: 10px;
	margin: auto 0;
}

.header .menu .uni_close:before, .header .menu .uni_close:after, .header .srch .uni_close:before, .header .srch .uni_close:after {
	top: 0;
	height: 100%;
}

.header .menu.active > i, .header .srch.active .svg_icon._search, .header .menu .uni_close, .header .srch .uni_close { 
	opacity: 0;
	transition: opacity .3s;
}

.header .menu > i, .header .srch .svg_icon._search, .header .menu.active .uni_close, .header .srch.active .uni_close {
	opacity: 1;
	-webkit-animation: Show_Exit .3s;
	animation: Show_Exit .3s;
	transition: opacity .3s;
}

.search_block {
	position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: auto;
    padding: 10px;
    background: #fff;
    border-top: 1px solid #d8e2ee;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 10px 20px 0 rgba(40,90,140,.1);
}

.search_block button {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 38px;
	background: rgba(255, 207, 58, 0.5);
	border-radius: 0 2px 2px 0;
	border-color: #ffcf3a;
}

.search_block button .svg_icon {
	width: 18px;
	vertical-align: middle;
	fill: #bb9727;
}



/* --- Главное меню --- */


.sidebar {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 999;
	overflow: auto;
}

.sidebar .nav {
	position: relative;
	width: 100%;
	margin: 25px auto 100px auto;
	padding-left: 50px;
	opacity: 0;
	transition: opacity .1s;
}

.sidebar.active .nav { opacity: 1; }

.sidebar .btn.green { margin-top: 5px; }

.sidebar .unit {
	position: relative;
	display: block;
	margin: 15px 0;
	font-family: 'Roboto-Medium';
	font-size: 17px;
    font-weight: 500;
	line-height: 1.6;
	color: #166cc4;
	cursor: pointer;
}

.sidebar .unit.title:after {
	position: ;
	content: '•••';
	margin-left: 5px;
    vertical-align: middle;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 1px;
    color: #66a3ee;
}

.sidebar .unit.title.active:after { color: #d54444; }

.sidebar .unit.title { color: #28333a; }

.sidebar .unit.title .svg_icon {
	position: absolute;
	top: 5px;
	right: 10px;
	height: 15px;
}

.sidebar .unit.title.new .svg_icon { fill: #d54444; }

.sidebar .personal_list ul { 
	max-height: 0;
	margin: -10px 0;
	overflow: hidden;
}

.sidebar .personal_list .title.active + ul { 
	max-height: 100%;
	-webkit-animation: Show_Exit .5s;
	animation: Show_Exit .5s;
}

.sidebar .personal_list ul li .unit {
	margin: 10px 0;
	padding: 5px 0 5px 15px;
	font-size: 15px;
	border-left: 1px solid #d8e2ee;
}

.sidebar .nav > .unit.active:before {
	position: absolute;
	content: '';
	top: 10px;
	left: -20px;
	width: 6px;
	height: 6px;
	background: #d54444;
	border-radius: 6px;
	box-shadow: 0 0 10px 1px rgba(255,0,0,.4);
}

.sidebar .personal_list ul li .unit.active { 
	background: linear-gradient(to right, rgba(255,0,0,.05) 0%, rgba(0,0,0,0) 100%);
	border-color: #d54444;
}



/* --- Анонс --- */


.annonce {
	position: relative;
	width: auto;
	height: auto;
	margin: 0 -10px 20px;
	padding: 15px 35px 15px 15px;
	background: #ffffcc;
	border-bottom: 1px solid #d8e2ee;
	font-size: 14px;
}

.annonce .annonce_msg { color: #444400; }

.annonce .uni_close {
	top: 0;
	bottom: 0;
	margin: auto;
	background: rgba(0,0,0,.05);
}

.annonce .uni_close:before, .annonce .uni_close:after {
	height: 70%;
	background: #aaaa77;
}



/* --- Содержание --- */


.content {
	position: relative;
	padding: 50px 10px 0;
}


.mini_item .base,
.item .base,
.item_view .base,
.card .card_content,
.news {
	box-shadow: 0 5px 20px -5px rgba(40,90,140,.2);
}

.crumbs {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 30px 0;
}

.crumbs .crumb {
	display: inline-block;
	width: auto;
	padding: 6px 8px;
	background: #fff;
	border-radius: 2px;
	font-size: 13px;
}

.crumbs .crumb:first-child { margin-right: 5px; }

.crumbs .crumb .svg_icon {
	width: 13px;
	height: 13px;
	margin: 0 5px -1px 0;
}
/*
если нужен построчный вывод ↓
*/
.crumbs.list { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.crumbs.list .crumb { margin-top: 10px; }



/* --- Модальные окна --- */


.modal_space {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	height: 100%;
    background: #fff;
    z-index: 900;
    overflow: auto;
}

.modal_space .mod_box {
	position: relative;
	display: none;
	width: 100%;
	margin: 75px auto 100px auto;
	padding: 0 15px;
}

.mod_box .uni_close,
.mod_box .uni_back {
	top: -45px;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 12px;
	line-height: 1.8;
	text-decoration: none;
	text-indent: 25px;
	color: #718aaa;
}

.mod_box .h1, .mod_box .h2 { margin-bottom: 15px; }

.mod_box .h1 .link {
	position: absolute;
    font-size: 11px;
    margin: 10px 0 0 10px;
}

.mod_box.news_rubrics ul { margin: 20px 0 5px; }

.mod_box.news_rubrics .rubric_link {
	display: block;
	margin: 10px 0;
	padding: 5px 0 5px 25px;
	font-family: 'Roboto-Medium';
	font-weight: 500;
}

.mod_box.news_rubrics .rubric_link .svg_icon {
	width: 16px;
	height: 16px;
	margin: 0 5px -2px -25px;
}

.mod_box.news_rubrics .rubric_link.active .svg_icon { fill: #d54444; }

.mod_box.news_rubrics .rubric_link.active { color: #28333a; }

.mod_box.item_rating .share {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	width: 100%;
	margin: 15px 0;
	padding: 10px;
	text-align: center;
}

.mod_box.item_rating .share a {
	display: inline-block;
	width: 42px;
	height: 42px;
	background: #fbb2f2;
	border-radius: 2px;
	line-height: 42px;
}

.mod_box.item_rating .share .svg_icon {
	width: 24px;
	height: 24px;
	fill: #41144e;
	vertical-align: middle;
}

.mod_box.add_cash > div { margin-bottom: 25px; }
.mod_box.add_cash .small_msg { margin: 20px 0; }
.mod_box.add_cash .btn { width: 140px; }


.mod_box .docs_list .dl_list { /* Скачать прайс-лист / отображение документов в модальном окне */
	position: relative;
	margin: 25px 0;
	text-align: left;
}

.mod_box .docs_list .dl_list .row {
	display: block;
	padding: 10px 15px;
	border-top: 1px solid #f2f7fc;
	overflow: hidden;
}

.mod_box .docs_list .dl_list .row:last-child { border-bottom: 1px solid #f2f7fc; }

.mod_box .docs_list .dl_list .row .cl_icon {
	float: left;
	width: 38px;
	height: 38px;
	background: #f2f7fc;
	border-radius: 2px;
	text-align: center;
	line-height: 38px;
}

.mod_box .docs_list .dl_list .cl_icon .svg_icon { vertical-align: middle; }


.mod_box .docs_list .dl_list .row .link,
.mod_box .docs_list .dl_list .row .row_text {
	display: block;
	margin-left: 52px;
	line-height: 1.2;
}

.mod_box .docs_list .dl_list .row span > small {
	display: block;
	margin-top: 5px;
	font-size: 12px;
	color: #718aaa;
}

.mod_box .docs_list .dl_list .row_text {
	font-size: 14px;
	line-height: 1.4;
}


.mod_box.map_card_item { /* Модальное окно с листингом экранов */
	margin-top: 30px;
}

.mod_box .windows_list {
	display: flex;
	overflow-x: hidden;
}

.mod_box .windows_list .wl_window {
	position: relative;
	min-width: 100%;
	transition: margin .25s ease-in-out;
}

.mod_box .windows_list .wl_window.n2,
.mod_box .windows_list .wl_window.n3,
.mod_box .windows_list .wl_window.n4,
.mod_box .windows_list .wl_window.n5 { display: none; }

.mod_box .windows_list .wl_window .item {
	margin-top: 50px;
	animation: none;
}

.mod_box .windows_list .wl_window .item:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: -4%;
	background: #f2f7fc;
	border-radius: 2px;
}

.mod_box .windows_list .uni_close,
.mod_box .windows_list .uni_back {
	top: 0;
	margin: 0 52px 0 auto;
}

.mod_box .windows_list .wl_window.n1 .uni_close { margin: auto; }

.mod_box .windows_list .uni_back  { margin: 0 auto 0 0; }





/* --- Мини-плашки: товары, компании, комментарии, каталог --- */


.items { 
	margin: 15px 0; 
	text-align: center;
}

.mini_item { 
	margin: 15px 0;
	text-align: left;
}

.mini_item .base {
	position: relative;
	width: 100%;
	height: 100px;
	background: #fff;
	border-radius: 2px;
	overflow: hidden;
	z-index: 10;
}

.mini_item.min_h .base { height: 60px; }

.mini_item .base .image, .mini_item.min_h .base .pix {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 105px;
	height: 80px;
	background: #fff;
	border-radius: 2px;
	overflow: hidden;
}

.mini_item.min_h .base .pix {
	width: 40px;
	height: 40px;
	text-align: center;
	/*background: #eee;*/
}

.mini_item.min_h .base .pix .svg_icon {
	width: 40px;
	height: 40px;
	fill: #244566;
}

.mini_item.min_h .base .pix > span {
	font-size: 42px;
	line-height: 1;
	color: #244566;
}

.mini_item .base .text {
	position: absolute;
	top: 50%;
	left: 130px;
	right: 10px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.mini_item.min_h .base .text {
	left: 65px;
}

.mini_item .base .text .link {
	display: block;
	max-height: 42px;
	overflow: hidden;
}

.mini_item.min_h .base .text .link { 
	font-size: 16px;
}

.mini_item .base .text .price {
	display: inline-block;
	margin-top: 8px;
	font-size: 14px;
}

.mini_item .base .text > .indicator {
	position: relative;
	top: 5px;
	margin-top: 3px;
	display: inline-block;
}

.mini_item.min_h .base .text > .indicator {
	top: 0;
	margin: 0;
}

.mini_item .extra, .item .extra, .item_view .extra {
	position: relative;
	width: 90%;
	min-height: 40px;
	max-height: 40px;
	margin: 0 auto;
	background: #fff;
	border-radius: 0 0 2px 2px;
	overflow: hidden;
	text-align: left;
	z-index: 5;
}

.item .extra, .item_view .extra { width: 92%; }

.mini_item .extra.active, .item .extra.active, .item_view .extra.active { max-height: 100%; }

.mini_item .extra .indicator, .item .extra .indicator, .item_view .extra .indicator {
	display: inline-block;
	max-width: 80%;
	margin: 0 0 0 10px;
	line-height: 2;
}

.mini_item.firm .extra .indicator { max-width: 70%; }
.mini_item.min_h .extra .indicator, .item.firm .extra .indicator { max-width: 80%; }

.mini_item .extra > .indicator,
.item .extra > .indicator,
.item_view .extra > .indicator {
	position: absolute;
	bottom: 6px;
	left: 0;
}

.items.this_firm .extra .rating { 
	position: absolute;
	bottom: 8px;
	left: 10px; 
}

.items .mini_item.firm .extra > .indicator:last-child,
.item.firm .extra > .indicator:last-child,
.items.this_firm .extra .indicator {
	position: absolute;
	bottom: 5px;
	left: auto;
	right: 10px;
}

.extra .hide_content { 
	opacity: 0;
	margin-bottom: 40px;
}

.extra.active .hide_content { 
	opacity: 1;
	-webkit-animation: Show_Exit .5s;
	animation: Show_Exit .5s;
}

.extra .hide_content li {
	display: block;
	height: 42px;
	padding-top: 6px;
	border-bottom: 1px solid #f2f7fc;
}

.extra .hide_content li .indicator > span {
	position: absolute;
	right: 10px;
}

.extra .uni_show {
	bottom: 0;
	right: 0;
}

.items.this_firm .item_cat_name {
	display: block;
	margin: 10px 0 -10px;
	text-align: left;
	color: #718aaa;
}



/* --- Большие карточки товаров и компаний --- */

.item {
	position: relative;
	width: 280px;
	margin: 15px auto 25px auto;
}

.item .base {
	position: relative;
	width: 100%;
	height: 350px;
	background: #fff;
	border-radius: 2px;
	overflow: hidden;
	z-index: 10;
}

.item .base .image {
	position: relative;
	display: block;
	max-width: 100%;
	height: 180px;
	margin-bottom: 15px;
	background: #fff;
	overflow: hidden;
}

.item.firm .base .image > img {	padding: 10px; }

.item .base .link {
	display: flex;
	justify-content: center;
    align-items: center;
	height: 44px;
	margin-top: 4px;
	padding: 0 10px;
	font-family: 'Roboto-Medium';
	font-weight: 500;
	overflow: hidden;
}

.item.firm .base .link { margin-top: 30px; }

.item .base .rating, .item .base .indicator { 
	position: absolute;
	bottom: 60px;
	left: 10px;
	line-height: 1;
}

.item .base .indicator {
	left: auto;
	right: 10px;
}

.item .item_btns {
	position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.item .item_btns .btn {
	height: 36px;
	margin: 0 10px;
	padding: 8px;
	width: 100%;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
}

.rating i .svg_icon {
	width: 13px;
	height: 13px;
	margin-bottom: -2px;
}

.rating i.up .svg_icon { fill: #ffcf3a; }


.item.editable .extra {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 40px;
	max-height: 40px;
	line-height: 2.45;
}

.item.editable .extra .control {
	width: 33%;
	height: 100%;
	border-right: 1px solid #f2f7fc;
	text-align: center;
	cursor: pointer;
}

.item.editable .extra .control:last-child { border: none; }

.item.editable .extra .control .svg_icon { vertical-align: middle; }
.item.editable .edit .svg_icon { fill: #66a3ee; }
.item.editable .delete .svg_icon { fill: #d54444; }
.item.editable .items_service .svg_icon { fill: #52c040; }




/* --- Страница товара / компании --- */


.item_view {
	position: relative;
	margin: 30px 0 20px;
}

.item_view .base {
	position: relative;
	width: 100%;
	height: auto;
	background: #fff;
	border-radius: 2px;
	text-align: left;
	z-index: 10;
}

.item_view .base .item_rating {
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
	padding: 10px 15px;
	font-size: 13px;
	text-align: right;
    color: #166cc4;
    cursor: pointer;
}

.item_view .base .item_rating .rating {	float: left; }

.item_view h1 {
	padding: 20px 15px 15px;
	border-bottom: 1px solid #f2f7fc;
}

.item_view .base .big_image, .item_view .extra .image  {
	display: block;
	width: 100%;
	max-height: 400px;
	padding: 10px;
	border-top: 10px solid #f2f7fc;
	line-height: 0;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}

.item_view .base .big_image > img, .item_view .base .big_image > a > img, .item_view .extra .image > img, .item_view .extra .image > a > img {
	max-width: 100%;
	height: auto;
}

.item_view .extra .image {
	position: relative;
	max-height: 300px;
	border-top: 0;
	border-bottom: 1px solid #f2f7fc;
}

.image.video i { z-index: 199; }

.image.video i, .image.video i:before {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 80px;
	box-shadow: 0 0 8px 2px rgba(0,0,0,.1);
}

.image.video i:before {
	box-shadow: 0 0 0 12px #66a3ee;
	opacity: .5;
}

.image.video i:after {
	position: absolute;
    content: '';
    top: 16px;
    left: 40%;
    border-radius: 2px;
    border-left: 15px solid #66a3ee;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.order_box {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 40px 0;
	-webkit-animation: Show_Items 1s;
	animation: Show_Items 1s;
}

.order_box > .btn {	
	width: 46%;
	padding: 12px 16px;
}

.order_box > div { width: 48%; }

.order_box .l {
	padding: 15px 15px 10px 15px;
	background: #fff;
	border-radius: 2px 0 0 2px;
	border-right: 1px solid #52c040;
	line-height: 1.2;
	z-index: 10;
}

.order_box .l small {
	display: block;
	margin-bottom: 2px;
	font-size: 11px;
	color: #718aaa;
}

.order_box .l span { display: block; }
.order_box .l span b { font-size: 17px; }

.order_box .l span .svg_icon {
	width: 16px;
	height: 12px;
	fill: #28333a;
}

.order_box .l .line {
	margin: 6px;
	background: #fff;
}

.order_box .r .line { 
	margin: 8px;
	background: #f2f7fc; 
}

.order_box .r .btn { 
	margin: 0;
	width: 100%;
	padding: 12px 18px;
}

.order_box .r .green:before {
	position: absolute;
	content: '';
	top: 50%;
	top: calc(50% - 1px);
	left: -50px;
	width: 50px;
	height: 1px;
	background: #52c040;
}




/* --- Универсальные карточки  --- */


.card {
	position: relative;
	width: 100%;
	height: auto;
	margin: 50px 0 25px;
	text-align: center;
}

.card h1, .card .h1, .card h2, .card .h2 { font-size: 18px; }

.card .card_mark {
	position: absolute;
	top: -20px;
	left: 0;
	right: 0;
	width: 40px;
	height: 40px;
	margin: 0 auto;
	background: #fff;
	border-radius: 40px;
	z-index: 100;
}

.card .card_mark .svg_icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.card .uni_show:last-child {
	position: relative;
	display: block;
	width: 90%;
    height: 40px;
    background: rgba(102, 163, 238, 0.1);
	margin: 0 auto;
	z-index: 100;
}

.card .card_content {
	position: relative;
	width: 100%;
	height: auto;
	max-height: 300px;
	padding: 20px 0 15px;	
	background: #fff;
	border-radius: 2px;
	text-align: left;
	overflow: hidden;
}

.card.company .card_content { max-height: 250px; }
.card.contacts .card_content { max-height: 140px; }

.card_content:after {
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-image: linear-gradient(to top, #fff 30%, rgba(255,255,255,0) 100%);
	z-index: 150;
}

.card .card_content.active { max-height: 100%; }

.card .card_content article { font-size: 14px; }

.card .card_content > .h2 { margin: 0 15px 15px 15px; }

.card .card_content > .h2 sup { font-size: 13px; }

.card .card_list .row {
	display: block;
	padding: 10px 15px;
	border-top: 1px solid #f2f7fc;
	overflow: hidden;
}

.card .card_list .row .cl_icon {
	float: left;
	width: 38px;
	height: 38px;
	background: #f2f7fc;
	border-radius: 2px;
	text-align: center;
	line-height: 38px;
}

.card .card_list .row .cl_icon .svg_icon { vertical-align: middle; }


.card .card_list .row .link, .card .card_list .row .row_text {
	display: block;
	margin-left: 52px;
	line-height: 1.2;
}

.card .card_list .row span > small {
	display: block;
	margin-top: 5px;
	font-size: 12px;
	color: #718aaa;
}

.card .card_list .row .row_text {
	font-size: 14px;
	line-height: 1.4;
}

.card .mini_item { margin: 0; }

.card .mini_item .base {
	background: transparent;
	border-radius: 0;
	box-shadow: none;
}

.card .mini_item { -webkit-animation: none; animation: none; }

.card .mini_item .base { height: 60px; }

.card .mini_item .base .image {
	width: 68px;
    height: 52px;
    top: 0;
}

.card .mini_item .base .text { left: 92px; }

.card .mini_item .base .text .link {
	font-size: 15px;
	line-height: 1.4;
	max-height: 40px;
}





/* --- Текстовая карточка --- */


.card.info_text article { padding: 0 15px 15px; }

.card.info_text h1, .card.info_text .h1, .card.info_text h2, .card.info_text .h2 { margin: 5px 0 15px; }

.card.info_text p {	margin: 10px 0 0; }

.card.description article { /* Карточка описания */
	padding: 5px 15px;
	border-top: 1px solid #f2f7fc;
}




/* --- Карточка характеристик --- */


.card.features table {
	padding-top: 10px;
	border-top: 1px solid #f2f7fc;
	border-collapse: collapse;
	font-size: 14px;
	line-height: 1.4;
}

.card.features table tr:not(:last-child) { border-bottom: 1px solid #f2f7fc; }
.card.features table td { padding: 10px 15px; }
.card.features table tr td:last-child { text-align: right; }




/* --- Карточка характеристик --- */


.price_list .cl_icon { background: #cbecc5 !important; }
.price_list .svg_icon { fill: #3aaa27; }





/* --- Карточки компании, контактов, заказов --- */


.card.order .card_content { max-height: 100%; }

.card.company .firm { 
	padding: 10px 15px;
	border-top: 1px solid #f2f7fc;
	overflow: hidden; 
}

.card.order .order_i { 
	padding: 0 15px 12px;
	overflow: hidden; 
}

.card.company .firm .image, .card.order .order_i .image {
	position: relative;
	float: left;
	width: 90px;
    height: 68px;
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
}

.card.company .firm .image > img {
	max-width: 100%;
	max-height: 100%;
}

.card.company .firm .text, .card.order .order_i .text {
	position: relative;
	min-height: 68px;
	margin-left: 105px;
}

.card.company .firm .text .link, .card.order .order_i .text .link {
	display: block;
	max-height: 40px;
	overflow: hidden;
	font-size: 15px;
}

.card.order .order_i .text .date { 
	display: block;
	margin: 1px 0 5px;
	font-size: 13px; 
}

.card.order .order_i .text .date.new { color: #d54444; }

.card.company .firm .text > span {
	position: absolute;
	bottom: 0;
	left: 0;
}

.card.company .firm .text .indicator {
	left: auto;
	right: 0;
}

.card.company ul li, .card.contacts ul li, .card.order ul li {
	padding: 10px 15px;
	border-top: 1px solid #f2f7fc
}

.card.company li strong, .card.contacts li strong, .card.order li strong {
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	color: #718aaa;
}

.card.company li p, .card.contacts li p, .card.order li p { 
	margin: 0;
	font-size: 14px;
}



/* --- Карточка компании в инстаграм  --- */

.card.company_instagram .ci_gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding: 15px 15px 5px;
	border-top: 1px solid #f2f7fc;
}

.card.company_instagram .ci_gallery a {
	width: calc(50% - 5px);
	height: 100px;
	margin-bottom: 10px;
	border-radius: 2px;
}

.card.company_instagram .ci_gallery a img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2px;
}




/* --- Карточки новостей и публикаций --- */

.card .small_news { 
	padding: 10px 15px;
	border-top: 1px solid #f2f7fc;
	overflow: hidden; 
}

.card .small_news .image {
	position: relative;
	float: left;
	width: 90px;
    height: 68px;
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
}

.card .small_news .text {
	position: relative;
	min-height: 68px;
	margin-left: 105px;
}

.card .small_news .date { 
	font-size: 13px;
	vertical-align: top;
	line-height: 1;
}

.card .small_news .indicator { 
	float: right;
	line-height: 1;
}

.card .small_news .link {
	display: block;
	margin-top: -5px;
	max-height: 56px;
	overflow: hidden;
	font-size: 14px;
	line-height: 1.4;
}




/* --- Карточки комментариев  --- */


.items .card.comment { margin: 40px 0 20px; }
.items .card.comment:last-child { margin-bottom: 30px; }
.items .card.comment .card_content { max-height: 100%; }

.card .msg {
	position: relative;
	padding: 15px 15px 10px;
	border-top: 1px solid #f2f7fc;
	font-size: 14px;
	-webkit-animation: Show_Msg .5s;
	animation: Show_Msg .5s;
}

.card .msg.answer:before, .card .msg.answer:after {
	position: absolute;
    content: '';
    top: 15px;
    left: 4px;
}

.card .msg.answer:before {
	border-bottom: 5px solid #bccee5;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-radius: 1px;
}

.card .msg.answer:after {
	top: 16px;
	left: 7px;
	width: 2px;
	height: 10px;
	background: #bccee5;
}

.card .msg .base:after {
	content: '';
	display: table;
	clear: both;
}

.avatar {
	position: relative;
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 2px;
	background-image: url('../img/no_ava.png');
	background-repeat: no-repeat;
	background-color: #f2f7fc;
	background-position: 50% 50%;
	background-size: cover;
}

.avatar.big {
	width: 100px;
	height: 100px;
}

.card .msg .date, .card .msg .name {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	margin: 0 40px 0 75px;
}

.card .msg .name { margin-top: 20px; }

.card .msg .uni_show.vertical { 
	position: absolute;
	display: inline;
	right: 0; 
}

.card .msg_text { margin-top: 10px; }

.card .msg .hide_menu {
	position: absolute;
	top: 17px;
	right: 0;
	max-width: 0;
	background: #fff;
	border-radius: 2px;
	border: 1px solid #66a3ee;
	box-shadow: 0 5px 20px -5px rgba(40,90,140,.2);
	white-space: nowrap;
	overflow: hidden;
	transition: all .2s;
	opacity: 0;
	z-index: -1;
}

.card .msg .hide_menu.active {
	right: 40px;
	max-width: 100%;
	opacity: 1;
	z-index: 400;
}

.card .msg .hide_menu .link {
	display: block;
	padding: 12px 15px;
	font-size: 15px;
}

.card .msg .hide_menu .link .svg_icon {
	width: 18px;
	margin: 0 10px -4px 0;
	fill: #66a3ee;
}

.card.comments .h2 { padding-right: 50px; }

.card.comments .btn.launch.plus {
	position: absolute;
	display: block;
	top: 1px;
	right: 15px;
	width: 30px;
	height: 30px;
	padding: 0;
	font-size: 20px;	
}

.card.comments .btn.more_msg {
	display: table;
    margin: -10px auto 30px auto;
	background: #e4effb;
	border: none;
	border-radius: 0 0 2px 2px;
	box-shadow: none;
	font-size: 13px;
}



/* --- Публикации: новости, статьи... --- */

.news {
	position: relative;
	width: 100%;
	height: auto;
	margin: 15px 0 20px;
	padding-bottom: 5px;
	background: #fff;
	border-radius: 2px;
	text-align: left;
	overflow: hidden;
}

.news.full { margin-top: 40px; }

.news .image {
	position: relative;
	width: 100%;
	height: 200px;
	border-radius: 2px 2px 0 0;
	border-bottom: 1px solid #f2f7fc;
	overflow: hidden;
}

.news .news_head {
	position: relative;
	height: 40px;
	padding: 14px 15px;
	border-bottom: 1px solid #f2f7fc;
	font-size: 14px;
	line-height: 1;
	color: #556575;
}

.news .news_head .date {
	position: absolute;
	right: 15px;
}

.news .news_head .indicator {
	position: absolute;
	left: 0;
	padding: 0 90px 0 15px;
}

.news .news_text { padding: 15px; }

.news .news_text .link { 
	display: block;
	font-size: 16px;
}

.news .news_text p {
	margin: 10px 0 0;
	font-size: 14px;
}

.news .news_text ul { padding: 5px 0 0 15px; }

.news .news_text ul li {
	margin: 5px 0;
	list-style: square outside;
	font-size: 14px;
	line-height: 1.4;
	color: #333;
}

.news .news_text .inside_img {
	display: block;
	width: auto;
	height: auto;
	margin: 20px -15px;
}

.news .news_text .inside_img img {
	display: block;
	max-width: 100%;
	margin: auto;
}


/* --- Важные заметки --- */


.note {
	position: relative;
	margin: 15px -10px 30px;
	padding: 15px;
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	text-align: center;
}

.note article, .note article .h1 { margin: 15px 0; }






/* --- Промышленная карта --- */


.map {
	position: relative;
	margin-top: 15px;
}

.map .ya_map {
	position: relative;
	margin: 0;
	padding: 0;
	max-width: 100%;
	height: 100%;
	height: 80vh;
	background: #fff;
	border-radius: 2px;
	overflow: hidden;
}

.map .map_mark {
	position: absolute;
	top: 60px;
	left: 90px;
	width: 40px;
	height: 58px;
	z-index: 99;
}

.map .map_mark:nth-child(2) {
	top: 120px;
	left: 180px;
}

.map .map_mark img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.btn.launch.map_filter + .crumbs { margin: 10px 0; }

.btn.launch.map_filter {
	position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    z-index: 100;
}





/* --- Страница спрос --- */


.demand_list .card.comment .msg {
	padding-top: 10px;
	border-top: 0;
}

.demand_list .card.comment .comment-geo { color: #718aaa; }


.card .card_content article br+br {
	content: '';
	margin-top: 8px;
	display: block;
	line-height: 1;
}




/* --- Калькулятор доставки --- */

.delivery_calc {
	position: relative;
	margin: 15px 0;
}

.delivery_calc .form_element:not(.ch_box) label {
	top: 4px;
	margin-top: 10px;
	text-transform: lowercase;
	color: #718aaa;
}

.delivery_calc form > b.bolder {
    position: relative;
    display: block;
    margin: 14px 0 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #718aaa;
    text-align: left;
}

.delivery_calc form > b.bolder + small {
	display: block;
	margin-bottom: 14px;
	text-align: left;
}

.delivery_calc .dc_results .card_content { max-height: 100%; }

.delivery_calc .dc_results .card_content > .h2 sup { font-size: 12px; }

.delivery_calc .dc_results .dcr_loader {
    position: absolute;
    top: -18px;
    left: calc(50% - 20px);
    width: 30px;
    height: 30px;
    background: #fff;
    border: 5px solid #f2f7fc;
    border-radius: 80px;
    box-shadow: -2px -2px 12px 2px #2765d1, 2px 2px 12px 2px #da2e2e;
    animation: Dcr_loader .5s infinite ease-in-out;
    z-index: 10;
}

.delivery_calc .dc_results .dcr_info {
	margin-top: -10px;
	padding: 0 15px 5px 15px;
}

.delivery_calc .dc_results .dcr_info span { 
	display: block;
	color: #718aaa;
}

.delivery_calc .dcr_list .sector_name { margin: 16px 0 0; }
.delivery_calc .dcr_list .sector_name b { background: #fff; }
.delivery_calc .dcr_list .sector_name:after { background: #f2f7fc; }

.delivery_calc .dcr_list .dcrl_item {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 12px 15px;
	border-bottom: 8px solid #f2f7fc;
}

.delivery_calc .dcr_list .dcrl_item .company { display: flex; }

.delivery_calc .dcr_list .dcrl_item .company .company_logo {
	width: 80px;
	height: 60px;
	margin-left: auto;
}

.delivery_calc .dcr_list .dcrl_item .company .company_logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.delivery_calc .dcr_list .dcrl_item .company .company_info { width: calc(100% - 92px); }

.delivery_calc .dcr_list .dcrl_item .company .company_info b {
	display: block;
	font-size: 17px;
}

.delivery_calc .dcr_list .dcrl_item .company .company_info a {
	display: block;
	font-size: 13px;
}

.delivery_calc .dcr_list .dcrl_item .time_price {
	display: flex;
	justify-content: space-between;
	margin-top: 8px;
}

.delivery_calc .dcr_list .dcrl_item .time_price .time { margin-right: 10px; }
.delivery_calc .dcr_list .dcrl_item .time_price .price { margin-left: 10px; }

.delivery_calc .dcr_list .dcrl_item .time_price div small {
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.delivery_calc .dc_results .dcr_note {
	padding: 0 15px;
	line-height: 1.1;
}

@keyframes Dcr_loader {
	  0% { transform: rotate(0deg); }
	 15% { transform: rotate(60deg); }
	 30% { transform: rotate(120deg); }
	 50% { transform: rotate(180deg); }
	 65% { transform: rotate(240deg); }
	 85% { transform: rotate(300deg); }
	100% { transform: rotate(360deg); }
}





/* --- Страница 404 --- */


.content .p_404 {
	max-width: 300px;
	margin: 80px auto;
}

.content .p_404 .numbers div {
	font-size: 98px;
    font-weight: bold;
    line-height: 1;
    opacity: .08;
}

.content .p_404 .numbers p {
    margin: 0;
    font-size: 13px;
    opacity: .5;
}

.content .links {
	display: flex;
	justify-content: space-around;
    margin: 20px 0;
    font-size: 17px;
}





/* --- Личный кабинет --- */

.show_stand_i { 
	margin: 25px 0; 
	text-align: center;
}

.show_stand_i .link {
	position: relative;
	display: inline-block;
	padding: 6px 10px 6px 12px;
	background: #fff;
	border-radius: 2px;
	font-size: 13px;
}

.show_stand_i .link:after {
	content: "•••";
    margin-left: 5px;
    vertical-align: middle;
    font-size: 24px;
    line-height: 0;
    letter-spacing: 1px;
    color: rgb(102, 163, 238);
}

.show_stand_i.active .link { color: #28333a; }
.show_stand_i.active .link:after { color: #d54444; }


.stand_i { margin: 15px 0 30px; }

.stand_i.none { display: none; }

.stand_i .mini_item.min_h .base .pix { overflow: visible; }
.stand_i .mini_item.min_h .base .pix > span > small { font-size: 18px; }
.stand_i .mini_item.min_h .base .pix ._tariff { fill: #ffcf3a; }
.stand_i .mini_item.min_h .base .pix ._balance { fill: #ac9ee0; }

.stand_i .mini_item.min_h .base .pix > span.quality.hi {
	color: #52c040;
	text-shadow: 0 2px 6px rgba(82, 192, 64, 0.5);
}

.stand_i .mini_item.min_h .base .pix > span.quality.mid {
	color: #FFC107;
    text-shadow: 0 2px 6px rgba(255, 193, 7, 0.5);
}

.stand_i .mini_item.min_h .base .pix > span.quality.low {
	color: #908258;
    text-shadow: 0 2px 6px rgba(179, 167, 130, 0.5);
}

.stand_i .mini_item.min_h .base .pix > span.quality.bad {
	color: #d54444;
    text-shadow: 0 2px 6px rgba(255, 0, 0, 0.4);
}

.stand_i .mini_item.min_h .base span.link { color: #28333a; }

.stand_i .mini_item.min_h .base span.link > b { 
	position: relative;
	top: 3px;
	font-size: 20px;
	line-height: 1;
}

.stand_i .mini_item.min_h .base span.link ._rubler {
	width: 20px;
	height: 14px;
	margin-bottom: -3px;
}

.stand_i .mini_item.min_h .hide_content article {
	padding: 5px 10px;
	border-bottom: 1px solid #f2f7fc;
	font-size: 13px;
	line-height: 1.2;
}

.stand_i .mini_item.min_h .hide_content .active_service {
	padding: 10px;
	border-bottom: 1px solid #f2f7fc;
	font-size: 13px;
}

.stand_i .mini_item.min_h .hide_content .active_service p { margin: 0; }

.stand_i .btn.add_cash {
	position: absolute;
	display: block;
	top: -11px;
	right: 0;
	padding: 8px 15px;
    font-size: 14px;
}

.stand_stat {
	margin: 15px 0;
	text-align: center;
}

.stand_stat.full { margin-bottom: 70px; }

.stand_stat sup.date {
	position: absolute;
	color: #d54444;
}

.mini_item.stat .base {
	height: auto;
	max-height: auto;
}

.mini_item.stat .base > .h2 { 
	margin: 20px 15px 12px;
	font-size: 18px;
}

.mini_item.stat .stat_index, .tariff_index {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 20px 15px;
	border-top: 1px solid #f2f7fc;
	text-align: left;
} 

.tariff_index { border: 0; }

.stat_index > div b, .tariff_index > div b {
	display: block;
	font-size: 20px;
	line-height: 1;
}

.tariff_index > div b { font-size: 18px; }

.stat_index .svg_icon._rubler {
	width: 18px;
	height: 14px;
	fill: #28333a;
}

.tariff_index .svg_icon._rubler {
	width: 16px;
	height: 13px;
	fill: #28333a;
}

.stat_index > div { min-width: 25%; }
.tariff_index > div { min-width: 30%; }
.tariff_index > div:first-child { margin-right: 10px; }

.stat_index > div small { color: #556575; }

.mini_item.stat .extra article {
	padding: 0 10px;
	border-bottom: 1px solid #f2f7fc;
	font-size: 12px;
}

.card.advice .small_msg { margin: 0 10px; }

.card .user_ci .email, .card .user_ci .tel { 
	display: inline-block;
	margin: 10px 0 0;
	padding: 4px 6px;
	background: #f2f7fc;
	border-radius: 2px;
	font-size: 13px;
}

.card .user_ci .email { margin-right: 10px; }

.card.tariff.used .card_mark .svg_icon { fill: #ffd531; }
.card.tariff .card_list .row .cl_icon { background: #fff; }
.card.tariff .cl_icon.on .svg_icon { fill: #55bb44; }

.card.tariff .card_list .row:last-child { border-bottom: 1px solid #f2f7fc; }
.card.tariff .small_msg { margin: 15px; }

.form_element.user_ava .avatar { box-shadow: 0 5px 50px -5px rgba(40,90,140,.25); }

.form_element.user_ava .btn {
	margin: 30px 0 0 20px;
    float: right;
}

.sector_name {
	position: relative;
	margin: 25px 0 15px;
	text-align: center;
}

.sector_name:after {
	position: absolute;
	content: '';
	top: 50%;
	top: calc(50% - 2px);
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
}

.sector_name b {
	position: relative;
	display: inline-block;
	padding: 5px 15px;
	background: #f2f7fc;
	font-size: 11px;
	color: #a8beda;
	z-index: 10;
}

.images_list {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.images_list .img_box {
	position: relative;
	display: inline-block;
	width: 140px;
    height: auto;
    margin-bottom: 50px;
    padding: 5px;
    background: #fff;
    border-radius: 2px;
    -webkit-animation: Show_Items 1s;
    animation: Show_Items 1s;
}

.images_list.videos .img_box { margin-bottom: 20px; }

.images_list .img_box .image {
	position: relative;
    width: 130px;
    height: 98px;
    margin-bottom: 5px;
    background: #fff;
    border-radius: 2px;
    overflow: hidden;
}

.img_box .del, .files_list .row .del {
	position: absolute;
	top: -5px;
	right: -5px;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 40px;
	box-shadow: 0 5px 30px 5px rgba(40,90,140,.2);
	z-index: 199;
	cursor: pointer;
}

.files_list .row .del {
	top: 14px;
	right: 10px;
	box-shadow: 0 5px 30px 5px rgba(40,90,140,.1);
}

.img_box .del > .uni_close, .files_list .del > .uni_close {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.img_box .cover {
	position: absolute;
	bottom: -30px;
	left: 0;
	right: 0;
}

.img_box > small.short { display: block; }

.files_list {
	margin: ;
	text-align: left;
}

.files_list .row {
	position: relative;
	display: block;
	padding: 10px 45px 10px 0;
	border-bottom: 1px solid #fff;
	-webkit-animation: Show_Items 1s;
	animation: Show_Items 1s;
}

.files_list .row .cl_icon {
	float: left;
	width: 38px;
	height: 38px;
	background: #fff;
	border-radius: 2px;
	text-align: center;
	line-height: 38px;
}

.files_list .row .cl_icon .svg_icon { vertical-align: middle; }


.files_list .row .link {
	display: block;
	margin-left: 52px;
	line-height: 1.2;
}

.files_list .row .link > small {
	display: block;
	margin-top: 5px;
	font-size: 12px;
	color: #718aaa;
}







/* --- Подвал --- */


.footer {
	position: relative;
	margin: 50px 0 0;
	padding: 50px 15px 25px;
	border-top: 1px solid #d8e2ee;
	font-size: 10px;
	text-align: center;
	color: #718aaa;
}

.footer > strong span {
	display: block;
	line-height: 2.5;
}


/* --- Плашка-наложения --- */

#overlay {
    display: none;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height:100%;
    z-index: 500;
}

#overlay.active { display: block; }



@media screen and (max-width: 420px) {
	#space, .mxw {
		max-width: 360px;
	}

}

@media screen and (min-width: 440px) {

	#space, .mxw { max-width: 620px; }

	h1.up_text, .h1.up_text { font-size: 22px; }

	h2.up_text, .h2.up_text { font-size: 18px; }

	.item .base .image {
		height: 188px;
		margin-bottom: 10px;
	}

}

.fancybox-wrap .fancybox-close{
    top: 5px;
    right: 5px;
}

.fancybox-wrap .fancybox-outer, .fancybox-wrap .fancybox-skin{
    border:none;
    border-radius: 0;
    -webkit-border-radius: 0; 
    -moz-border-radius: 0;    
}

.bposition{
    margin: 0 auto;
}

.bposition img{
    max-width: 100%;    
} 